Repository qgis/QGIS-Documentation, pull requests merged in 2018-04, with the labels that each got.

#2548 Update Snap geometries description
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing help

#2551 [processing] Project cartesian algorithm Fix #2370
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing help

#2430 Add "DWG/DXF Import..." description
  source/docs/user_manual/managing_data_source/opening_data.rst
Labels: needs-backport

#2518 Reorganizing sections in general tools chapter
  source/docs/user_manual/introduction/general_tools.rst
Labels: High Priority

#2443 [processing] raster calculator update
  source/docs/user_manual/processing/toolbox.rst
  source/docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing help
