Repository qgis/QGIS-Documentation, pull requests merged in 2018-09, with the labels that each got.

#2837 [training manual] GRASS chapter 13
  source/docs/training_manual/answers/answers.rst
  source/docs/training_manual/answers/img/grass_reclass.png
  source/docs/training_manual/grass/grass_setup.rst
  source/docs/training_manual/grass/grass_tools.rst
  source/docs/training_manual/grass/img/colors_table_result.png
  source/docs/training_manual/grass/img/colors_table_setup.png
  source/docs/training_manual/grass/img/enable_grass.png
  source/docs/training_manual/grass/img/g_dem_result.png
  source/docs/training_manual/grass/img/g_dem_settings.png
  source/docs/training_manual/grass/img/g_roads_g_dem_result.png
  source/docs/training_manual/grass/img/grass_aspect.png
  source/docs/training_manual/grass/img/grass_aspect_result.png
  source/docs/training_manual/grass/img/grass_browser.png
  source/docs/training_manual/grass/img/grass_browser_import.png
  source/docs/training_manual/grass/img/grass_database.png
  source/docs/training_manual/grass/img/grass_final.png
  source/docs/training_manual/grass/img/grass_folder.png
  source/docs/training_manual/grass/img/grass_mapcalc.png
  source/docs/training_manual/grass/img/grass_mapcalc_result.png
  source/docs/training_manual/grass/img/grass_mapset.png
  source/docs/training_manual/grass/img/grass_menu.png
  source/docs/training_manual/grass/img/grass_open_mapset.png
  source/docs/training_manual/grass/img/grass_open_mapset_browser.png
  source/docs/training_manual/grass/img/grass_panel.png
  source/docs/training_manual/grass/img/grass_panel_import.png
  source/docs/training_manual/grass/img/grass_raster_info.png
  source/docs/training_manual/grass/img/grass_raster_info_result.png
  source/docs/training_manual/grass/img/grass_reclass.png
  source/docs/training_manual/grass/img/grass_reclass_result.png
  source/docs/training_manual/grass/img/grass_tool_selected.png
  source/docs/training_manual/grass/img/grass_toolbar.png
  source/docs/training_manual/grass/img/new_location.png
  source/docs/training_manual/grass/img/set_south_africa.png
  source/docs/training_manual/grass/img/wgs_84_selected.png
  source/substitutions.txt
  static/common/grass_mapset_open.png
Labels: Training Manual

#2892 [processing] Set z and m values algorithms
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing help

#2890 [processing] Join by field value can export unmatched records fixes #2869
  source/docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing help

#2889 [processing] Join by location can export unmatched records
  source/docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing help

#2847 [training manual] Chapter 3 - Basic Maps
  source/docs/training_manual/answers/answers.rst
  source/docs/training_manual/answers/img/answer_buildings_symbology.png
  source/docs/training_manual/answers/img/answer_road_symbol_layers.png
  source/docs/training_manual/answers/img/answer_road_symbol_levels.png
  source/docs/training_manual/answers/img/answer_road_symbology.png
  source/docs/training_manual/answers/img/answer_symbology1.png
  source/docs/training_manual/answers/img/answer_water_blue.png
  source/docs/training_manual/answers/img/target_road_symbology.png
  source/docs/training_manual/basic_map/img/add_symbol_layer_button.png
  source/docs/training_manual/basic_map/img/bad_roads_symbology.png
  source/docs/training_manual/basic_map/img/better_roads_symbology.png
  source/docs/training_manual/basic_map/img/buildings_small_scale.png
  source/docs/training_manual/basic_map/img/change_to_marker_line.png
  source/docs/training_manual/basic_map/img/correct_advanced_levels.png
  source/docs/training_manual/basic_map/img/correct_layer_order.png
  source/docs/training_manual/basic_map/img/correct_symbol_layers.png
  source/docs/training_manual/basic_map/img/geometry_generator.png
  source/docs/training_manual/basic_map/img/geometry_generator_preview.png
  source/docs/training_manual/basic_map/img/geometry_generator_query.png
  source/docs/training_manual/basic_map/img/geometry_generator_result.png
  source/docs/training_manual/basic_map/img/incorrect_layer_order.png
  source/docs/training_manual/basic_map/img/layer_properties_style.png
  source/docs/training_manual/basic_map/img/marker_line_interval.png
  source/docs/training_manual/basic_map/img/marker_type_dropdown.png
  source/docs/training_manual/basic_map/img/multiple_symbol_layers.png
  source/docs/training_manual/basic_map/img/new_fill_settings.png
  source/docs/training_manual/basic_map/img/new_symbol_layer.png
  source/docs/training_manual/basic_map/img/pattern_fill_distances.png
  source/docs/training_manual/basic_map/img/pattern_fill_size.png
  source/docs/training_manual/basic_map/img/places_layer_properties.png
  source/docs/training_manual/basic_map/img/scale_dependent_visibility.png
  source/docs/training_manual/basic_map/img/simple_fill_move_down.png
  source/docs/training_manual/basic_map/img/simple_fill_selected.png
  source/docs/training_manual/basic_map/img/simple_marker_line_properties.png
  source/docs/training_manual/basic_map/img/spatiallite_dialog_connected.png
  source/docs/training_manual/basic_map/img/svg_layer_border.png
  source/docs/training_manual/basic_map/img/svg_symbol_result.png
  source/docs/training_manual/basic_map/img/svg_symbol_settings.png
  source/docs/training_manual/basic_map/img/symbol_levels_dialog.png
  source/docs/training_manual/basic_map/img/symbol_levels_main_dialog.png
  source/docs/training_manual/basic_map/img/target_road_symbology.png
  source/docs/training_manual/basic_map/symbology.rst
  source/docs/training_manual/basic_map/vector_data.rst
Labels: Training Manual

#2944 Add a screenshot for overlay case when running the union algorithm
  source/docs/user_manual/processing_algs/qgis/img/union.png
  source/docs/user_manual/processing_algs/qgis/img/union_with_overlay.png
  source/docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: Screenshots

#2838 [training manual] Plugin Chapter 10 updated
  source/docs/documentation_guidelines/substitutions.rst
  source/docs/training_manual/qgis_plugins/fetching_plugins.rst
  source/docs/training_manual/qgis_plugins/img/add_google_hybrid.png
  source/docs/training_manual/qgis_plugins/img/city_search.png
  source/docs/training_manual/qgis_plugins/img/color_changes.png
  source/docs/training_manual/qgis_plugins/img/dataplotly_boxplot.png
  source/docs/training_manual/qgis_plugins/img/dataplotly_scatterplot.png
  source/docs/training_manual/qgis_plugins/img/dataplotly_setup.png
  source/docs/training_manual/qgis_plugins/img/dataplotly_subplots.png
  source/docs/training_manual/qgis_plugins/img/find_geosearch_plugin.png
  source/docs/training_manual/qgis_plugins/img/geosearch_menu.png
  source/docs/training_manual/qgis_plugins/img/get_more_plugins.png
  source/docs/training_manual/qgis_plugins/img/google_hybrid_result.png
  source/docs/training_manual/qgis_plugins/img/google_mercator_crs.png
  source/docs/training_manual/qgis_plugins/img/hybrid_map_selected.png
  source/docs/training_manual/qgis_plugins/img/new_plugin_added.png
  source/docs/training_manual/qgis_plugins/img/new_plugins_setting.png
  source/docs/training_manual/qgis_plugins/img/plugin_details.png
  source/docs/training_manual/qgis_plugins/img/plugin_manager_settings.png
  source/docs/training_manual/qgis_plugins/img/pseudo_mercator_selected.png
  source/docs/training_manual/qgis_plugins/img/qms_install.png
  source/docs/training_manual/qgis_plugins/img/qms_menu.png
  source/docs/training_manual/qgis_plugins/img/qms_result.png
  source/docs/training_manual/qgis_plugins/img/quickosm_advanced_query.png
  source/docs/training_manual/qgis_plugins/img/quickosm_advanced_result.png
  source/docs/training_manual/qgis_plugins/img/quickosm_result.png
  source/docs/training_manual/qgis_plugins/img/quickosm_setup.png
  source/docs/training_manual/qgis_plugins/img/raster_terrain_enabled.png
  source/docs/training_manual/qgis_plugins/img/relief_created.png
  source/docs/training_manual/qgis_plugins/img/select_openlayers.png
  source/docs/training_manual/qgis_plugins/img/select_processing_plugin.png
  source/docs/training_manual/qgis_plugins/img/terrain_analysis_dialog.png
  source/docs/training_manual/qgis_plugins/img/terrain_analysis_list.png
  source/docs/training_manual/qgis_plugins/plugin_examples.rst
  source/substitutions.txt
Labels: Training Manual

#2898 Add algs to multioffset/translate layers
  source/docs/user_manual/processing_algs/qgis/img/offset_lines.png
  source/docs/user_manual/processing_algs/qgis/img/offset_lines_array.png
  source/docs/user_manual/processing_algs/qgis/img/translate_array.png
  source/docs/user_manual/processing_algs/qgis/img/translate_geometry.png
  source/docs/user_manual/processing_algs/qgis/vectorcreation.rst
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing help
