Repository qgis/QGIS-Documentation, pull requests merged in 2018-03, with the labels that each got.

#2380 Processing graphics chaper
  source/docs/user_manual/processing_algs/qgis/graphics.rst
  source/docs/user_manual/processing_algs/qgis/index.rst
Labels: Processing help

#2399 Processing fix cartography
  source/docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing help

#2011 removed dead link and corresponding text
  source/docs/user_manual/working_with_vector/vector_properties.rst
Labels: needs-forward-porting

#2427 Pyqgis updates
  source/conf.py
  source/docs/pyqgis_developer_cookbook/loadlayer.rst
Labels: PyQGIS Cookbook

#2442 [processing] update Extract by attribute fix #1772
  source/docs/user_manual/processing_algs/qgis/vectorselection.rst
Labels: Processing help

#2439 [pyqgis] update the communication chapter
  source/docs/pyqgis_developer_cookbook/communicating.rst
Labels: PyQGIS Cookbook

#2444 [processing] update point on surface
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing help

#2440 [pyqgis] mapcanvas chapter updates
  source/conf.py
  source/docs/pyqgis_developer_cookbook/canvas.rst
Labels: PyQGIS Cookbook

#2412 Processing guidelines
  source/docs/documentation_guidelines/index.rst
  source/docs/documentation_guidelines/writing.rst
Labels: Guidelines
