Repository qgis/QGIS-Documentation, pull requests merged in 2019-12, with the labels that each got.

#4506 Add parameter types for file, matrix and layer (raster or vector)
  source/docs/documentation_guidelines/writing.rst
Labels: Guidelines, Processing Alg, enhancement

#4536 Create layer from point - fix table format for parameters, and move
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: 3.8, Processing Alg, User Manual

#4582 Tables for alg params - QGIS vector create
  source/docs/user_manual/processing_algs/qgis/vectorcreation.rst
Labels: Processing Alg

#4584 Backport of #4582 (Tables for alg params - QGIS vector create)
  source/docs/user_manual/processing_algs/qgis/vectorcreation.rst
Labels: Processing Alg

#4587 QGIS vector graphics - tables for algorithm parameters
  source/docs/user_manual/processing_algs/qgis/graphics.rst
Labels: Processing Alg

#4588 Backport of #4587 (QGIS vector graphics - tables for algorithm parame…
  source/docs/user_manual/processing_algs/qgis/graphics.rst
Labels: Processing Alg

#4589 Add geodesic mode for the "Join by Lines (Hub lines)" algorithm
  source/docs/user_manual/processing_algs/qgis/vectoranalysis.rst
Labels: 3.6, Processing Alg, Text, User Manual

#4594 QGIS Network analysis - tables for alg parameters
  source/docs/user_manual/processing_algs/qgis/networkanalysis.rst
  source/docs/user_manual/processing_algs/qgis/qgis_algs_include.rst
Labels: IN PROGRESS, Processing Alg

#4601 GDAL Vector misc - Tables for alg parameters
  source/docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
Labels: Processing Alg

#4603 GDAL Raster analysis - tables for alg parameters
  source/docs/user_manual/processing_algs/gdal/rasteranalysis.rst
Labels: Processing Alg

#4620 QGIS Vector general - tables for alg parameters
  source/docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg

#4652 Update of section loading a delimited text file
  source/docs/user_manual/managing_data_source/img/delimited_text_dialog.PNG
  source/docs/user_manual/managing_data_source/img/delimited_text_dialog.png
  source/docs/user_manual/managing_data_source/opening_data.rst
Labels: backport release_3.4

#4659 Reduced the size of the delimited text dialog illustration
  source/docs/user_manual/managing_data_source/img/delimited_text_dialog.png
Labels: backport release_3.4

#4629 QGIS Vector geometry - tables for alg parameters (part two)
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#4649 QGIS Vector geometry - tables for alg parameters (part three)
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#4653 QGIS Vector geometry - tables for alg parameters (part four)
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#4670 upper case for M/Z
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: backport release_3.4

#4675 Add the Generate XYZ tiles algorithms
  source/docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: 3.8, Processing Alg

#4682 Add the gdal2tile algorithm (GDAL, Raster misc)
  source/docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
Labels: backport release_3.4
