Repository qgis/QGIS-Documentation, pull requests merged in 2019-11, with the labels that each got.

#4351 Pygment code-block for a better legibility
  source/docs/user_manual/plugins/core_plugins/plugins_evis.rst
Labels: backport release_3.4

#4222 section about atlas setFeature function
  source/docs/user_manual/print_composer/create_output.rst
Labels: Feedback

#4365 Add primary key warning for Oracle spatial layers
  source/docs/user_manual/managing_data_source/opening_data.rst
Labels: backport release_3.4

#4377 R intro image update
  source/docs/training_manual/processing/img/r_intro/r_intro_1.png
  source/docs/training_manual/processing/img/r_intro_2.png
  source/docs/training_manual/processing/img/r_intro_3.png
  source/docs/training_manual/processing/img/r_intro_4.png
  source/docs/training_manual/processing/img/r_intro_5.png
Labels: backport release_3.4

#4380 Illustration updates for the R intro in the training manual
  source/docs/training_manual/processing/img/r_intro/r_intro_1.png
  source/docs/training_manual/processing/img/r_intro/r_intro_2.png
  source/docs/training_manual/processing/img/r_intro/r_intro_3.png
  source/docs/training_manual/processing/img/r_intro/r_intro_4.png
  source/docs/training_manual/processing/img/r_intro/r_intro_5.png
  source/docs/training_manual/processing/img/r_intro/r_intro_8.png
Labels: backport release_3.4

#4394 Update the check validity algorithm description with a new parameter
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: backport release_3.4

#4400 Update description of the algorithm dialog log panel
  source/docs/user_manual/processing/img/algdialoglog.png
  source/docs/user_manual/processing/img/parameters_dialog.png
  source/docs/user_manual/processing/toolbox.rst
Labels: backport release_3.4

#4404 Add description of the native "Add X/Y fields to layer" algorithm
  source/docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: 3.8, Processing Alg, User Manual

#4410 Update cartography.rst (reorder)
  source/docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing Alg

#4412 Update vectorgeoprocessing.rst
  source/docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
Labels: Processing Alg, backport release_3.4

#4405 Add description of the "Overlap analysis" algorithm
  source/docs/user_manual/processing_algs/qgis/vectoranalysis.rst
Labels: 3.8, Processing Alg

#4409 Update the Modeler Tools to use the suggested table format for parame…
  source/docs/user_manual/processing_algs/qgis/modelertools.rst
Labels: Processing Alg, backport release_3.4, enhancement

#4415 Update illustration to reflect new operators in the raster calculator
  source/docs/user_manual/working_with_raster/img/raster_calculator.png
  source/docs/user_manual/working_with_raster/raster_analysis.rst
Labels: 3.10, Screenshots, User Manual

#4408 Add description of the Feature filter algorithm
  source/docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg, backport release_3.4

#4416 Add description of the Feature filter algorithm (backport to 3.4)
  source/docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: 3.4, Processing Alg, User Manual

#4418 Move the Variable distance buffer algorithm from Modeler tools to Vector geometry
  source/docs/user_manual/processing_algs/qgis/modelertools.rst
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, User Manual, backport release_3.4

#4402 Add qgis file formats to Appendix
  source/docs/user_manual/appendices/appendices.rst
  source/docs/user_manual/appendices/img/qgsprojectlayers.png
  source/docs/user_manual/appendices/img/qgstoplevel.png
  source/docs/user_manual/appendices/img/qml.png
Labels: backport release_3.4

#4422 Documentating the QLR format
  source/docs/user_manual/appendices/appendices.rst
  source/docs/user_manual/appendices/img/qlr.png
  source/docs/user_manual/managing_data_source/opening_data.rst
Labels: User Manual, backport release_3.4, enhancement, squash!

#4423 Update QLR documentation according to review
  source/docs/user_manual/appendices/appendices.rst
  source/docs/user_manual/managing_data_source/opening_data.rst
Labels: backport release_3.4

#4430 Havatv esrishapefileref
  source/docs/training_manual/basic_map/vector_data.rst
  source/docs/training_manual/grass/grass_setup.rst
  source/docs/training_manual/grass/img/grass_browser_import.png
Labels: Training Manual, backport release_3.4

#4433 Rename "node tool" to "vertex tool" in the training manual
  source/docs/training_manual/create_vector_data/create_new_vector.rst
  source/docs/training_manual/create_vector_data/topo_editing.rst
  source/docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Training Manual, User Manual, backport release_3.4

#4435 Update metasearch illustrations
  source/docs/user_manual/introduction/qgis_gui.rst
  source/docs/user_manual/plugins/core_plugins/img/metasearch-record-metadata.png
  source/docs/user_manual/plugins/core_plugins/img/metasearch-search.png
  source/docs/user_manual/plugins/core_plugins/img/metasearch-services.png
  source/docs/user_manual/plugins/core_plugins/img/metasearch-settings.png
  source/docs/user_manual/plugins/core_plugins/img/metasearch-splash.png
Labels: User Manual, backport release_3.4

#4438 Update illustrations to QGIS 3 - The Vector Properties Dialog (#2441)
  source/docs/user_manual/working_with_vector/img/diagram_tab.png
  source/docs/user_manual/working_with_vector/img/diagram_tab_appearance.png
  source/docs/user_manual/working_with_vector/img/diagram_tab_placement.png
  source/docs/user_manual/working_with_vector/img/diagram_tab_size.png
  source/docs/user_manual/working_with_vector/img/fields_properties.png
  source/docs/user_manual/working_with_vector/img/inner_glow.png
  source/docs/user_manual/working_with_vector/img/join_attributes.png
  source/docs/user_manual/working_with_vector/img/label_expression.png
  source/docs/user_manual/working_with_vector/img/label_menu_text.png
  source/docs/user_manual/working_with_vector/img/label_rule_settings.png
  source/docs/user_manual/working_with_vector/img/label_rules_panel.png
  source/docs/user_manual/working_with_vector/img/outer_glow.png
  source/docs/user_manual/working_with_vector/img/placement_engine.png
  source/docs/user_manual/working_with_vector/img/placement_engine3_10.png
  source/docs/user_manual/working_with_vector/img/transform.png
  source/docs/user_manual/working_with_vector/img/vector_digitizing_properties.png
Labels: Screenshots, User Manual, backport release_3.4

#4428 Reformat to use tables for parameter description - vector analysis
  source/docs/user_manual/processing_algs/qgis/vectoranalysis.rst
Labels: Processing Alg, backport release_3.4, enhancement

#4432 Add datetime to the Query Builder filter example
  source/docs/user_manual/working_with_vector/img/queryBuilder.png
  source/docs/user_manual/working_with_vector/vector_properties.rst
Labels: User Manual, backport release_3.4

#4426 Update the writing guidelines with the new table format for QGIS algorithm parameters
  source/docs/documentation_guidelines/writing.rst
Labels: Guidelines, Processing Alg, Text, backport release_3.4, enhancement

#4453 Image to fix #4259: Resurrect setting for default raster/vector outpuformat
  options_processing.png
Labels: 3.10, Processing, Screenshots, User Manual

#4439 Supplement / reorganise the introduction to the training manual
  source/docs/training_manual/foreword/foreword.rst
  source/docs/training_manual/introduction/intro.rst
Labels: Text, Training Manual

#4468 GDAL raster extraction algs - fix table formatting
  source/docs/user_manual/processing_algs/gdal/rasterextraction.rst
Labels: Processing Alg, User Manual, backport release_3.4

#4472 Manual backport GDAL vector extracton tables for parameters to 3.4
  source/docs/user_manual/processing_algs/gdal/vectorconversion.rst
Labels: Processing Alg, User Manual

#4477 Update to table format for alg parameters - GDAL raster projection
  source/docs/user_manual/processing_algs/gdal/rasterprojections.rst
Labels: Processing Alg, User Manual, backport release_3.4

#4482 Backport of GDAL raster extraction algorithm to 3.4 (#4461)
  source/docs/user_manual/processing_algs/gdal/rasterextraction.rst
Labels: IN PROGRESS, Processing Alg, User Manual

#4474 Tables for parameters, GDAL raster misc
  source/docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
Labels: IN PROGRESS, Processing Alg, User Manual, backport release_3.4

#4504 QGIS Raster analysis algs, table format for parameters, 3.4
  source/docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, User Manual, enhancement

#4511 QGIS Raster tools algs table for parameters
  source/docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, User Manual, enhancement

#4512 Backport of #4511(QGIS Raster tools algs table for parameters)
  source/docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: IN PROGRESS

#4513 QGIS Vector selection algs table for parameters - 3.4
  source/docs/user_manual/processing_algs/qgis/vectorselection.rst
Labels: Processing Alg, User Manual

#4527 Tables for alg param - QGIS Vector geometry
  source/docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: IN PROGRESS, Processing Alg
