Repository qgis/QGIS-Documentation, pull requests merged in 2019-01, with the labels that each got.

#3169 [Training Manual] 2/3 Chapter 8 (Raster)
  source/docs/training_manual/rasters/changing_symbology.rst
  source/docs/training_manual/rasters/img/click_transparency.png
  source/docs/training_manual/rasters/img/corner_values.png
  source/docs/training_manual/rasters/img/dem_layer_properties.png
  source/docs/training_manual/rasters/img/dem_pseudocolor_properties.png
  source/docs/training_manual/rasters/img/enhancement.png
  source/docs/training_manual/rasters/img/global_transparency.png
  source/docs/training_manual/rasters/img/good_raster.png
  source/docs/training_manual/rasters/img/greyscale_dem.png
  source/docs/training_manual/rasters/img/pseudocolor_raster.png
Labels: Training Manual

#3202 [Training Manual] 3/3 Chapter 8 (Raster)
  source/docs/training_manual/answers/answers.rst
  source/docs/training_manual/answers/img/answer_dem_aspect.png
  source/docs/training_manual/answers/img/answer_raster_calculator_slope.png
  source/docs/training_manual/answers/img/development_analysis_results.png
  source/docs/training_manual/rasters/img/aspect_result.png
  source/docs/training_manual/rasters/img/hillshade_explanation.png
  source/docs/training_manual/rasters/img/hillshade_pseudocolor.png
  source/docs/training_manual/rasters/img/hillshade_setup.png
  source/docs/training_manual/rasters/img/identify_raster.png
  source/docs/training_manual/rasters/img/identify_raster_table.png
  source/docs/training_manual/rasters/img/raster_calculator.png
  source/docs/training_manual/rasters/img/raster_seive_dialog.png
  source/docs/training_manual/rasters/img/reclassify_result.png
  source/docs/training_manual/rasters/img/reclassify_setup.png
  source/docs/training_manual/rasters/img/reclassify_table.png
  source/docs/training_manual/rasters/img/seive_metadata.png
  source/docs/training_manual/rasters/img/slope_raster.png
  source/docs/training_manual/rasters/img/unique_style.png
  source/docs/training_manual/rasters/img/value_tool.png
  source/docs/training_manual/rasters/img/value_tool_query.png
  source/docs/training_manual/rasters/img/value_tool_query_multi.png
  source/docs/training_manual/rasters/terrain_analysis.rst
Labels: Training Manual

#3168 [Training Manual] 1/3 Chaper 8 (Raster)
  source/docs/training_manual/rasters/data_manipulation.rst
  source/docs/training_manual/rasters/img/build_virtual_raster.png
  source/docs/training_manual/rasters/img/merge_rasters.png
  source/docs/training_manual/rasters/img/raster_step_one.png
  source/docs/training_manual/rasters/img/warp_rasters.png
Labels: Training Manual

#3333 Update getting_started.rst (qgz / qgs)
  source/docs/user_manual/introduction/getting_started.rst
Labels: Text, User Manual

#3377 Enables Intersphinx to the PyQGIS API
  source/conf.py
  source/docs/pyqgis_developer_cookbook/canvas.rst
  source/docs/pyqgis_developer_cookbook/vector.rst
Labels: enhancement
