Repository qgis/QGIS-Documentation, pull requests merged in 2021-09, with the labels that each got.

#6842 [GPR] Factorize Color ramp shader description
  docs/user_manual/working_with_raster/img/color_ramp_shader.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: review_requested, Mesh, Raster, Properties

#6916 Set default path type for files in new project
  docs/user_manual/introduction/img/options_general.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#6923 Add FDL to cookbook, explicitly say it applies to code snnippets.
  docs/pyqgis_developer_cookbook/intro.rst
Labels: backport release_3.16

#6939 fix builds.yml
  .github/workflows/builds.yml
Labels: backport release_3.16

#6940 add missing parameters to WMS request
  docs/server_manual/getting_started.rst
Labels: backport release_3.16

#6938 typo
  docs/server_manual/getting_started.rst
Labels: backport release_3.16

#6944 Move the raster legend dialog description
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/working_with_raster/img/raster_legend_settings.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Raster, Properties

#6947 Offline editing plugin converts list into string
  docs/user_manual/plugins/core_plugins/plugins_offline_editing.rst
Labels: Plugins

#6950 template parameter is required for GetPrint request
  docs/server_manual/services.rst
Labels: backport release_3.16

#6954 More description of the digitizing tools
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing
