Repository qgis/QGIS-Documentation, pull requests merged in 2021-08, with the labels that each got.

#6856 Factorize the Processing output types list description
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/database.rst
  docs/user_manual/processing_algs/qgis/filetools.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/layertools.rst
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/plots.rst
  docs/user_manual/processing_algs/qgis/qgis_algs_include.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg

#6846 Load mesh layers within a multi mesh file
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Mesh, Managing Layer/Data

#6858 Move the "Variable distance buffer" to the modeler page
  docs/user_manual/processing_algs/qgis/modelertools.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#6866 Fix PyQGIS tests on layer/tree nodes
  docs/pyqgis_developer_cookbook/cheat_sheet.rst
  docs/pyqgis_developer_cookbook/legend.rst
Labels: PyQGIS Cookbook, build/doctest/travis

#6859 Harmonize and simplify the network analysis algorithms description
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/qgis_algs_include.rst
Labels: Processing Alg

#6860 More basic/advanced separation for algorithm parameters
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: Processing Alg

#6861 Update cartography algorithms output and advanced parameters
  docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing Alg

#6869 Refactor field algorithm can show field constraints
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Processing Alg, Vector

#6868 Document the ST-DBSCAN clustering algorithm
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
Labels: Processing Alg

#6870 Document Convert to curved geometries algorithm
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#6867 Document some vector-based algorithms
  docs/user_manual/processing_algs/qgis/database.rst
  docs/user_manual/processing_algs/qgis/filetools.rst
  docs/user_manual/processing_algs/qgis/layertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg, Vector

#6875 Update symbol layer properties
  docs/user_manual/style_library/symbol_selector.rst
Labels: Style manager

#6877 General update of the current algorithms of raster analysis group
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg

#6871 Add Raster creation algorithms
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, Raster

#6874 Add "Round raster" algorithm
  docs/user_manual/processing_algs/qgis/img/round_raster.png
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, Raster

#6879 Add "Raster layer properties" algorithm
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, Raster

#6872 Add raster frequency and stack position algorithms description
  docs/user_manual/processing_algs/qgis/img/equaltofrequency.png
  docs/user_manual/processing_algs/qgis/img/greaterthanfrequency.png
  docs/user_manual/processing_algs/qgis/img/highestposition.png
  docs/user_manual/processing_algs/qgis/img/lessthanfrequency.png
  docs/user_manual/processing_algs/qgis/img/lowestposition.png
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, Raster

#6890 Relocate the network analysis include text
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/qgis_algs_include.rst
Labels: enhancement, Processing

#6889 Add raster cell stack percent algorithms
  docs/user_manual/processing_algs/qgis/img/percentile.png
  docs/user_manual/processing_algs/qgis/img/percentrankfromrasterlayer.png
  docs/user_manual/processing_algs/qgis/img/percentrankfromvalue.png
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, Raster

#6880 Describe "Fill NoData cells" algorithm
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, Raster

#6894 Add example for rescale raster and fill nodata algorithms
  docs/user_manual/processing_algs/qgis/img/fill_nodata.png
  docs/user_manual/processing_algs/qgis/img/rescale_raster.png
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, Raster

#6893 Relocate the database algs include text
  docs/user_manual/processing_algs/qgis/database.rst
  docs/user_manual/processing_algs/qgis/qgis_algs_include.rst
Labels: Processing Alg

#6895 Update dynamic_layout.rst
  docs/training_manual/map_composer/dynamic_layout.rst
Labels: backport release_3.16

#6900 Mention mask as a label properties tab
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.16, Labels, Properties

#6903 Clarify how to load layer style onto a layer
  docs/training_manual/basic_map/symbology.rst
Labels: Training Manual, backport release_3.16

#6905 Redirect the georeferencer page
  redirects.txt
Labels: Backend, backport release_3.16

#6906 Add mesh related functions
  docs/user_manual/working_with_vector/expression_help/Meshes.rst
  docs/user_manual/working_with_vector/functions_list.rst
Labels: Expressions

#6855 [GPR] Document the Symbology "Stacked mesh averaging method" tab
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/working_with_mesh/mesh_properties.rst
  static/common/meshaveraging.png
  substitutions.txt
Labels: review_requested, Symbology, Mesh

#6911 Allow raster data modification
  docs/pyqgis_developer_cookbook/raster.rst
Labels: PyQGIS Cookbook, Code

#6910 Simplify the plugins snippets page
  docs/pyqgis_developer_cookbook/cheat_sheet.rst
  docs/pyqgis_developer_cookbook/plugins/snippets.rst
Labels: PyQGIS Cookbook, Code

#6899 Create a GPX file
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/managing_data_source/create_layers.rst
Labels: GPS, Managing Layer/Data

#6912 Mention basic and advanced parameters for GDAL algorithms
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
Labels: Processing Alg

#6841 Introduce the Raster legend settings dialog
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/raster_legend_settings.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Mesh, Raster, Properties, Tools
