Repository qgis/QGIS-Documentation, pull requests merged in 2021-04, with the labels that each got.

#6494 Remove QGIS_SERVER_LOG_FILE and QGIS_DEBUG from code snippets
  docs/server_manual/config.rst
  docs/server_manual/getting_started.rst
Labels: Server, backport release_3.16

#6620 There are so easy ways to install git nowadays
  docs/developers_guide/git.rst
Labels: Developer Manual, backport release_3.16

#6636 Fix indentation
  docs/user_manual/processing/standalone.rst
Labels: backport release_3.16

#6637 Fixes substitution references
  docs/training_manual/create_vector_data/create_new_vector.rst
  docs/training_manual/online_resources/wfs.rst
  docs/training_manual/qgis_server/install.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/print_composer/composer_items/composer_label.rst
  docs/user_manual/style_library/label_settings.rst
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: backport release_3.16

#6643 Update information on pull request submission
  docs/developers_guide/git.rst
Labels: Developer Manual, backport release_3.16

#6642 Walk through instructions on how to develop using git
  docs/developers_guide/git.rst
Labels: Developer Manual, backport release_3.16

#4067 [dev_guides] Update the Qt Creator developer guidelines
  docs/developers_guide/images/image01.jpeg
  docs/developers_guide/images/image02.jpeg
  docs/developers_guide/images/image03.jpeg
  docs/developers_guide/images/image04.jpeg
  docs/developers_guide/images/image05.jpeg
  docs/developers_guide/images/image06.jpeg
  docs/developers_guide/img/build.png
  docs/developers_guide/img/buildSettings.png
  docs/developers_guide/img/configurationDone.png
  docs/developers_guide/img/configureProject.png
  docs/developers_guide/img/customInstallPrefix.png
  docs/developers_guide/img/customProcess.png
  docs/developers_guide/img/image07.jpeg
  docs/developers_guide/img/image08.jpeg
  docs/developers_guide/img/image09.jpeg
  docs/developers_guide/img/image10.jpeg
  docs/developers_guide/img/image11.jpeg
  docs/developers_guide/img/image12.jpeg
  docs/developers_guide/img/image13.jpeg
  docs/developers_guide/img/image14.jpeg
  docs/developers_guide/img/leftPanel.png
  docs/developers_guide/img/runDebug.png
  docs/developers_guide/img/runInstall.png
  docs/developers_guide/img/selectCMakeLists.png
  docs/developers_guide/qtcreator.rst
Labels: Developer Manual, backport release_3.16

#6650 Proudly hold up our banner to welcome people ;)
  README.md
Labels: backport release_3.16

#6633 Update PostGIS installation instructions in training manual
  docs/training_manual/spatial_databases/spatial_functions.rst
Labels: Training Manual, backport release_3.16

#6592 Fix how to run an algorithm as child of another
  docs/user_manual/processing/console.rst
Labels: Code, PyQGIS Cookbook, backport release_3.16

#6656 Trying another formatting for page redirection
  redirects.txt
Labels: Backend, backport release_3.16, build/doctest/travis

#6659 Remove optional attribute of the 'Flatten relationship' algorithm output
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: backport release_3.16

#6658 writeAsVectorFormatV2 is deprecated, use V3
  docs/pyqgis_developer_cookbook/vector.rst
Labels: Code, PyQGIS Cookbook

#6655 Rewrite section of georeferencer.rst
  docs/user_manual/working_with_raster/georeferencer.rst
Labels: backport release_3.16

#6664 .qgis2 folder is dead, long live user profile
  docs/user_manual/auth_system/auth_workflows.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/plugins/python_console.rst
Labels: backport release_3.16

#6667 Enforced constraint cross is not red but orange
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.16

#6651 Fix WMS GetFeatureInfo required LAYERS
  docs/server_manual/services.rst
Labels: Server

#6671 Add an example of expression to list features in a layout map item
  docs/user_manual/working_with_vector/expression.rst
Labels: Expressions, User Manual, backport release_3.16

#6675 The Coordinate capture plugin is dead, long live canvas right-click
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/plugins/core_plugins/img/coordinate_capture_dialog.png
  docs/user_manual/plugins/core_plugins/index.rst
  docs/user_manual/plugins/core_plugins/plugins_coordinate_capture.rst
  static/common/coordinate_capture.png
  substitutions.txt
Labels: GUI, Plugins, User Manual, backport release_3.16

#6676 Update QGIS Server doc with new conf location
  docs/server_manual/getting_started.rst
Labels: Server, backport release_3.16

#6660 Update section on running qgis_mapserv.fcgi for the first time
  docs/server_manual/getting_started.rst
Labels: Server

#6488 Access (multi)parts of geometries
  docs/pyqgis_developer_cookbook/geometry.rst
Labels: PyQGIS Cookbook, backport release_3.16

#6542 add processing to the intro overview
  docs/pyqgis_developer_cookbook/intro.rst
Labels: Processing

#6662 Add "Align points to features" algorithm
  docs/developers_guide/qtcreator.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing Alg, backport release_3.16
