Repository qgis/QGIS-Documentation, pull requests merged in 2021-11, with the labels that each got.

#7009 fix Line Density algorithm ID
  docs/user_manual/processing_algs/qgis/interpolation.rst
Labels: backport release_3.16, backport release_3.22

#7020 Create an extent selector widget section
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/extent_selector.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/managing_data_source/create_layers.rst
Labels: Tools, backport release_3.22

#7026 Fix area calculation test output
  docs/pyqgis_developer_cookbook/geometry.rst
Labels: build/doctest, backport release_3.22

#7034 Indicate the advanced parameters in the GDAL Raster Analysis Algs chapter
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
Labels: backport release_3.22

#7030 Make the index operator use with map and array more explicite
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions, backport release_3.22

#7032 Add POST method to the download file algorithm
  docs/user_manual/processing_algs/qgis/filetools.rst
Labels: Processing Alg, backport release_3.22

#7031 Reorder the join by location ... algorithms
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
Labels: Processing Alg, backport release_3.22

#7018 New option to group layers in layer panal
  docs/user_manual/introduction/general_tools.rst
Labels: backport release_3.22

#6843 [GPR] Describe mesh source properties
  docs/user_manual/working_with_mesh/img/mesh_info_properties.png
  docs/user_manual/working_with_mesh/img/mesh_source.png
  docs/user_manual/working_with_mesh/img/mesh_symbology_datasets.png
  docs/user_manual/working_with_mesh/img/mesh_symbology_grid.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: review_requested, Mesh, Properties, backport release_3.22

#6847 [GPR] Add mesh layer temporal properties
  docs/user_manual/working_with_mesh/img/mesh_temporal.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: review_requested, Mesh, Temporal, Properties, backport release_3.22

#7047 Expose the layout map item's temporal range properties
  docs/user_manual/print_composer/composer_items/composer_map.rst
Labels: Print layout / Atlas / Report, Temporal, backport release_3.22

#7046 Add contextual menu from the "Available datasets" group box
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, backport release_3.22

#7029 added section on indentation/whitespace
  docs/documentation_guidelines/writing.rst
Labels: Guidelines, backport release_3.22

#7055 Mention Annotations and mesh digitizing toolbars
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_gui.rst
Labels: GUI, backport release_3.22

#7054 Update the data-defined assistant widget working with opacity
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/de/varying_size_assistant.png
  docs/user_manual/introduction/img/varying_size_assistant.png
  docs/user_manual/working_with_raster/img/rasterPropertiesDialog.png
  docs/user_manual/working_with_raster/img/rasterServer.png
  docs/user_manual/working_with_raster/img/rasterTransparency.png
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/img/categorysymbol_ng_line.png
  docs/user_manual/working_with_vector/img/graduatedsymbol_ng_line.png
  docs/user_manual/working_with_vector/img/heatmap_symbol.png
  docs/user_manual/working_with_vector/img/poi_displacement.png
  docs/user_manual/working_with_vector/img/proportional_symbols.png
  docs/user_manual/working_with_vector/img/rulesymbol_ng_line.png
  docs/user_manual/working_with_vector/img/singlesymbol_ng_line.png
  docs/user_manual/working_with_vector/img/vector_source_menu.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Properties, backport release_3.22

#7033 Add GDAL viewshed algorithm
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
Labels: Processing Alg, Raster, backport release_3.22

#7048 Update curve and stream digitizing tools description
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing, backport release_3.22

#7064 Remove TauDEM and LAStools algorithm providers from User Manual
  docs/user_manual/processing_algs/index.rst
  docs/user_manual/processing_algs/lidartools/lastools.rst
  docs/user_manual/processing_algs/taudem/basic_grid_analysis_tools.rst
  docs/user_manual/processing_algs/taudem/img/arexample.png
  docs/user_manual/processing_algs/taudem/img/claeqn.png
  docs/user_manual/processing_algs/taudem/img/clafig.png
  docs/user_manual/processing_algs/taudem/img/d8index.png
  docs/user_manual/processing_algs/taudem/img/decay.png
  docs/user_manual/processing_algs/taudem/img/decayeqn.png
  docs/user_manual/processing_algs/taudem/img/dependence.png
  docs/user_manual/processing_algs/taudem/img/raccfig.png
  docs/user_manual/processing_algs/taudem/img/streamdrops.jpg
  docs/user_manual/processing_algs/taudem/img/tardemfig.png
  docs/user_manual/processing_algs/taudem/img/tlaceqn1.png
  docs/user_manual/processing_algs/taudem/img/tlaceqn2.png
  docs/user_manual/processing_algs/taudem/img/tlaceqn3.png
  docs/user_manual/processing_algs/taudem/img/tlaceqn4.png
  docs/user_manual/processing_algs/taudem/img/tlaceqn5.png
  docs/user_manual/processing_algs/taudem/img/tlaeqn.png
  docs/user_manual/processing_algs/taudem/index.rst
  docs/user_manual/processing_algs/taudem/specialized_grid_analysis_tools.rst
  docs/user_manual/processing_algs/taudem/stream_network_analysis_tools.rst
Labels: Processing Alg, backport release_3.22

#7070 Enlarge :kbd: annotations font size
  themes/rtd_qgis/static/css/qgis_docs.css
Labels: enhancement, backport release_3.16, backport release_3.22

#7076 Document "Organize columns" tool and column header contextual menu options in attribute table
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/working_with_vector/attribute_table.rst
  static/common/mActionEditTable.png
  static/common/mActionZoomTo.png
  substitutions.txt
Labels: Vector, backport release_3.22

#7075 Add example to display map credits and explain requirements
  docs/user_manual/expressions/functions_list.rst
  docs/user_manual/print_composer/composer_items/composer_label.rst
Labels: Print layout / Atlas / Report, Expressions, backport release_3.22

#7071 Update layout picture item and add layout marker item
  docs/user_manual/print_composer/composer_items/composer_image.rst
  docs/user_manual/print_composer/composer_items/img/de/image_mainproperties.png
  docs/user_manual/print_composer/composer_items/img/image_mainproperties.png
  docs/user_manual/print_composer/composer_items/img/marker_mainproperties.png
  docs/user_manual/print_composer/composer_items/img/picture_imagerotation.png
  docs/user_manual/print_composer/composer_items/img/picture_mainproperties.png
  docs/user_manual/print_composer/composer_items/img/picture_sizeplacement.png
Labels: Print layout / Atlas / Report, backport release_3.22

#7084 [release_3.22] Reinstate nitpicking checks for docs build
  Makefile
Labels: build/doctest

#7086 Active layer prefix in locator is f and not af
  docs/user_manual/introduction/qgis_gui.rst
Labels: backport release_3.16, backport release_3.22

#7063 pan distance and direction is shown in the status bar
  docs/user_manual/introduction/qgis_gui.rst
Labels: backport release_3.22

#7091 Add some missing links in GUI page to dedicated sections
  docs/user_manual/introduction/qgis_gui.rst
Labels: GUI, backport release_3.22

#7094 Added Mesh:Reindex Faces and Vertices
  docs/user_manual/introduction/qgis_gui.rst
  static/common/mActionMeshReindex.png
  substitutions.txt
Labels: Mesh, GUI, backport release_3.22

#7095 Fix indentation for github access token feature
  docs/user_manual/introduction/qgis_configuration.rst
Labels: backport release_3.22

#7102 Measure Bearing for General T and Substitutions
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/measure_bearing.png
  static/common/mActionMeasureBearing.png
  substitutions.txt
Labels: Tools, backport release_3.22

#7098 Add date and date time fields to spatiaLite layer creation dialog
  docs/user_manual/managing_data_source/create_layers.rst
Labels: Managing Layer/Data, backport release_3.22

#7067 Overhaul of the model designer chapter
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/processing/modeler.rst
Labels: Graphical modeler, backport release_3.22

#7079 Add (shuffle) random colors entry
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/quick_colorramp_selector.png
Labels: Tools, backport release_3.22

#7080 Mention "invert selection" tool in Drag-and-drop designer
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, backport release_3.22

#7108 Update the project files with 3.22
  qgis-projects/python_cookbook/01_project.qgs
  qgis-projects/training_manual/basic_map.qgs
  qgis-projects/training_manual/foreword.qgs
  qgis-projects/training_manual/symbology.qgs
  qgis-projects/user_manual/drag_n_drop_form_designer.qgs
  qgis-projects/user_manual/effects_examples.qgs
  qgis-projects/user_manual/introduction_qgis_general_tools_annotation.qgs
  qgis-projects/user_manual/introduction_qgis_gui_map_legend.qgs
  qgis-projects/user_manual/introduction_qgis_gui_start_up.qgs
  qgis-projects/user_manual/label_examples.qgz
  qgis-projects/user_manual/multivariate_example.qgs
  qgis-projects/user_manual/text_legend_symbols_example.qgs
  qgis-projects/user_manual/working_with_rasters.qgs
  qgis-projects/user_manual/working_with_vector_02.qgs
  qgis-projects/user_manual/working_with_vector_supported_data.qgs
  qgis-projects/user_manual/working_with_vectors_diagrams.qgs
  qgis-projects/user_manual/working_with_vectors_relations.qgs
Labels: Backend, backport release_3.22

#7110 Fix expression output
  docs/user_manual/expressions/expression.rst
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions, backport release_3.22

#7113 Updated CorePlugin Section
  docs/user_manual/plugins/core_plugins/index.rst
  docs/user_manual/processing_algs/otb.rst
  static/common/otb.png
  static/common/providerSaga.png
  substitutions.txt
Labels: Plugins, backport release_3.22

#7117 Redirect the supported_data.rst file from old releases
  redirects.txt
Labels: enhancement, backport release_3.16, backport release_3.22

#7118 Sort entries in the redirect.txt file
  redirects.txt
Labels: Backend, backport release_3.22

#7112 Add mesh digitizing icons
  docs/documentation_guidelines/substitutions.rst
  static/common/mActionMeshDigitizing.png
  static/common/mActionMeshEditForceByVectorLines.png
  static/common/mActionMeshSelectExpression.png
  static/common/mActionMeshSelectPolygon.png
  static/common/mActionMeshTransformByExpression.png
  substitutions.txt
Labels: Guidelines, backport release_3.22

#7128 Fix "Delete duplicates by attribute" algorithm ID
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: backport release_3.16, backport release_3.22

#7134 Fix "Detect dataset changes" algorithm ID
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: backport release_3.16, backport release_3.22

#7146 Allow drag/drop from layer panel
  docs/user_manual/introduction/general_tools.rst
Labels: Tools, backport release_3.22

#7144 Add OGC API Features testsuite in OGC Conformance Testing chapter
  docs/developers_guide/ogcconformancetesting.rst
Labels: Developer Manual, backport release_3.22

#7136 Update the digitizing panel toolbar options
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/img/advanced_digitizing.png
Labels: backport release_3.22

#7135 Add Z and M entries to the digitizing panel
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: backport release_3.22

#7115 Updated Identify Tool
  docs/user_manual/introduction/general_tools.rst
Labels: Tools, backport release_3.22
