Repository qgis/QGIS-Documentation, pull requests merged in 2021-05, with the labels that each got.

#6687 Condition of "Append georeference info" in layout export
  docs/user_manual/print_composer/create_output.rst
Labels: Print layout / Atlas / Report, backport release_3.16

#6693 Grid files for transformation can be stored in user profile folder
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_projections/working_with_projections.rst
Labels: Project/Configuration, backport release_3.16

#6673 Label updates
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/style_library/label_settings.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Labels, User Manual, squash!

#6695 Load style from QGIS repo is possible
  docs/user_manual/style_library/style_manager.rst
Labels: Style manager, User Manual

#6697 Dedicate section for embedded file selector
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/style_library/label_settings.rst
  docs/user_manual/style_library/symbol_selector.rst
Labels: Tools, User Manual

#6698 Introduce the Project view settings and full extent
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/project_general.png
  docs/user_manual/introduction/img/project_viewsettings.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, User Manual

#6703 Add icons and substitutions for Digitizing tools
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  static/common/floater.png
  static/common/mActionAllowIntersections.png
  static/common/mActionAvoidIntersectionsCurrentLayer.png
  static/common/mActionAvoidIntersectionsLayers.png
  static/common/mActionDigitizeWithCurve.png
  static/common/mActionFillRing.png
  static/common/mActionScaleFeature.png
  static/common/mActionStreamingDigitize.png
  static/common/mIconSnappingSelf.png
  substitutions.txt
Labels: Editing

#6712 Updated TM: 'Raster to Vector Conversion' screenshots
  docs/training_manual/complete_analysis/img/polygonize_raster.png
  docs/training_manual/complete_analysis/img/vector_to_raster.png
  docs/training_manual/complete_analysis/raster_to_vector.rst
Labels: backport release_3.16

#6717 Updated TM: 'Raster to Vector Conversion' screenshots (#6712)
  docs/training_manual/complete_analysis/img/polygonize_raster.png
  docs/training_manual/complete_analysis/img/vector_to_raster.png
  docs/training_manual/complete_analysis/raster_to_vector.rst
Labels: Training Manual

#6718 Simplify process to pull per-language strings from transifex
  README.md
  scripts/minimize_translation.sh
Labels: Translation, backport release_3.16

#6720 "Output extent" parameter for Raster calculator (qgis:rastercalculator) algorithm is optional
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, User Manual, backport release_3.16

#6727 setDatasource has moved to QgsMapLayer
  docs/pyqgis_developer_cookbook/loadlayer.rst
Labels: build/doctest/travis

#6726 Change wording from "required" to "requested"
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Backend

#6722 Update qgis_process documentation to show how arrays may be passed
  docs/user_manual/processing/standalone.rst
Labels: Code, backport release_3.16

#6729 Add multiple parameters to qgis_process call
  docs/user_manual/processing/standalone.rst
Labels: Code

#6733 VERSION parameter is mandatory for GetMap in 1.3.0
  docs/server_manual/services.rst
Labels: Server

#6725 Explain how html formatting can be configured for labels
  docs/user_manual/style_library/img/label_HTML_formatting.png
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, User Manual
