Repository qgis/QGIS-Documentation, pull requests merged in 2021-07, with the labels that each got.

#6713 Modeler update + layout alg doc
  docs/user_manual/processing/modeler.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/modelertools.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg

#6788 Update xyz and vector tiles loading
  docs/user_manual/managing_data_source/img/xyz_tiles_dialog_osm.png
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, Vector Tiles

#6795 Customize Project home folder
  docs/user_manual/introduction/browser.rst
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Browser

#6793 Misc changes to global settings
  docs/user_manual/introduction/img/options_crs.png
  docs/user_manual/introduction/img/options_data_sources.png
  docs/user_manual/introduction/img/options_digitizing.png
  docs/user_manual/introduction/img/options_processing.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Project/Configuration

#6797 Refactor qgis_process documentation
  docs/user_manual/processing/standalone.rst
Labels: Processing, backport release_3.16

#6796 [Browser] Turn lists of database contextual menus into a table
  docs/user_manual/introduction/browser.rst
Labels: Browser

#6794 Update folders description in the Browser panel
  docs/user_manual/introduction/browser.rst
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Browser, Project/Configuration

#6804 Harmonize Cookbook chapters beginning
  docs/pyqgis_developer_cookbook/authentication.rst
  docs/pyqgis_developer_cookbook/canvas.rst
  docs/pyqgis_developer_cookbook/cheat_sheet.rst
  docs/pyqgis_developer_cookbook/communicating.rst
  docs/pyqgis_developer_cookbook/composer.rst
  docs/pyqgis_developer_cookbook/crs.rst
  docs/pyqgis_developer_cookbook/expressions.rst
  docs/pyqgis_developer_cookbook/geometry.rst
  docs/pyqgis_developer_cookbook/intro.rst
  docs/pyqgis_developer_cookbook/legend.rst
  docs/pyqgis_developer_cookbook/loadlayer.rst
  docs/pyqgis_developer_cookbook/loadproject.rst
  docs/pyqgis_developer_cookbook/network_analysis.rst
  docs/pyqgis_developer_cookbook/pluginlayer.rst
  docs/pyqgis_developer_cookbook/plugins/ide_debugging.rst
  docs/pyqgis_developer_cookbook/plugins/plugins.rst
  docs/pyqgis_developer_cookbook/plugins/releasing.rst
  docs/pyqgis_developer_cookbook/plugins/snippets.rst
  docs/pyqgis_developer_cookbook/processing.rst
  docs/pyqgis_developer_cookbook/raster.rst
  docs/pyqgis_developer_cookbook/settings.rst
  docs/pyqgis_developer_cookbook/tasks.rst
  docs/pyqgis_developer_cookbook/vector.rst
Labels: PyQGIS Cookbook

#6805 Remove DB2 mention from the docs
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/managing_data_source/supported_data.rst
  docs/user_manual/processing/modeler.rst
  docs/user_manual/working_with_vector/attribute_table.rst
  static/common/mActionAddDb2Layer.png
  static/common/mIconDb2.png
  substitutions.txt
Labels: GUI, Managing Layer/Data

#6809 Provide note for adding Advertised URL in sample project.
  docs/server_manual/containerized_deployment.rst
Labels: Server, backport release_3.16

#6737 next milestone for the vector tiles chapter
  docs/user_manual/working_with_vector_tiles/img/vector_tiles_symbology.png
  docs/user_manual/working_with_vector_tiles/vector_tiles_properties.rst
Labels: Vector Tiles

#6813 More details on qgis_process tool
  docs/user_manual/processing/standalone.rst
Labels: Processing, backport release_3.16

#6815 Substitute "QSettings" with "Settings" in QGIS Configuration chapter
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.16

#6818 [Browser] Add Refresh connection entry to GeoPackage
  docs/user_manual/introduction/browser.rst
Labels: Browser

#6806 Update path preprocessor details
  docs/pyqgis_developer_cookbook/loadproject.rst
Labels: Project/Configuration, PyQGIS Cookbook

#6807 Update algorithms
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
Labels: Processing Alg

#6812 [Browser]Use a table to display available context menus for tiles and web service
  docs/user_manual/introduction/browser.rst
Labels: Browser, Web Service

#6783 Nominatim geocoding locator and algorithm
  docs/user_manual/introduction/img/options_locator.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg

#6825 Move the layer metadata tab description to a more generic place
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/vector_properties.rst
  docs/user_manual/working_with_vector_tiles/vector_tiles_properties.rst
Labels: Managing Layer/Data, Properties, User Manual

#6723 Detail callout properties
  docs/user_manual/style_library/label_settings.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Labels, Style manager, User Manual

#6826 Notes can be added to individual layer, per project
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/layer_notes.png
  docs/user_manual/introduction/project_files.rst
Labels: Managing Layer/Data, User Manual

#6830 Add offline Indicator to layers
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/plugins/core_plugins/plugins_offline_editing.rst
Labels: Project/Configuration

#6831 Warn for CRS inaccuracies
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#6839 Update list of raster properties tab
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Properties, Raster
