Repository qgis/QGIS-Documentation, pull requests merged in 2021-02, with the labels that each got.

#6490 Remove brackets from class name
  docs/pyqgis_developer_cookbook/vector.rst
Labels: backport release_3.16

#6487 Fix constraint expression example
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.16

#6500 Describe "Flatten relationship" algorithm
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg

#6504 Replace web server for wxs test
  docs/pyqgis_developer_cookbook/loadlayer.rst
Labels: PyQGIS Cookbook, backport release_3.16

#6503 Fix "overlap analysis" algorithm ID and hyperlink
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
Labels: Processing Alg, backport release_3.16

#6502 Add a basic expression and remove some assert calls
  docs/documentation_guidelines/cookbook_guidelines.rst
  docs/pyqgis_developer_cookbook/authentication.rst
  docs/pyqgis_developer_cookbook/crs.rst
  docs/pyqgis_developer_cookbook/expressions.rst
Labels: PyQGIS Cookbook, backport release_3.16

#6510 Explain Oracle DB connection Options parameter
  docs/user_manual/managing_data_source/opening_data.rst
Labels: backport release_3.16

#6508 Update the WFS loading exercice
  docs/training_manual/online_resources/img/antarctica_border.png
  docs/training_manual/online_resources/img/antarctica_sa.png
  docs/training_manual/online_resources/img/country_filter_enabled.png
  docs/training_manual/online_resources/img/country_sa_builder.png
  docs/training_manual/online_resources/img/labelling_example.png
  docs/training_manual/online_resources/img/new_wfs_connection.png
  docs/training_manual/online_resources/img/poles_attribute_table.png
  docs/training_manual/online_resources/img/select_country_filter.png
  docs/training_manual/online_resources/img/south_poles_wfs.png
  docs/training_manual/online_resources/img/wfs_connection_layers.png
  docs/training_manual/online_resources/wfs.rst
Labels: Training Manual, backport release_3.16

#6509 Use latest release for dependencies
  REQUIREMENTS.txt
Labels: backport release_3.16, dependencies

#6491 Add pyqgis cookbook code about selecting a feature with the maptool S…
  docs/pyqgis_developer_cookbook/canvas.rst
Labels: PyQGIS Cookbook, backport release_3.16

#6492 Server environment variable
  docs/server_manual/config.rst
Labels: Server, backport release_3.16

#6516 Add "Set layer style" algorithm
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg, backport release_3.16

#6518 Avoid table content overflow
  themes/rtd_qgis/static/css/qgis_docs.css
Labels: backport release_3.16, enhancement

#6378 tip fill symbols data-defined override offset
  docs/user_manual/style_library/img/simpleFillSymbol.png
  docs/user_manual/style_library/symbol_selector.rst
Labels: backport release_3.16

#6529 Typo corrected
  docs/training_manual/online_resources/wfs.rst
Labels: backport release_3.16

#6527 Update list of modeler inputs type
  docs/user_manual/processing/modeler.rst
Labels: Graphical modeler, User Manual

#6523 Switch order of layers overlay
  docs/gentle_gis_introduction/img/map_legend_after.png
  docs/gentle_gis_introduction/img/map_legend_before.png
  docs/gentle_gis_introduction/introducing_gis.rst
Labels: Gentle GIS introduction, backport release_3.16

#6517 Misc fixes to server plugins chapter
  docs/pyqgis_developer_cookbook/server.rst
Labels: PyQGIS Cookbook, Server, backport release_3.16

#6532 Update list of modeler inputs type
  docs/user_manual/processing/modeler.rst
Labels: 3.16

#6536 Un)escape backslashes and html formatted characters in expression
  docs/user_manual/working_with_vector/expression_help/Arrays.rst
  docs/user_manual/working_with_vector/expression_help/Conditionals.rst
  docs/user_manual/working_with_vector/expression_help/General.rst
  docs/user_manual/working_with_vector/expression_help/GeometryGroup.rst
  docs/user_manual/working_with_vector/expression_help/String.rst
  scripts/populate_expressions_list.py
Labels: 3.16

#6522 Add/fix details to the terrain analysis lesson
  docs/training_manual/answers/answers.rst
  docs/training_manual/answers/img/answer_dem_aspect.png
  docs/training_manual/answers/img/answer_raster_calculator_slope.png
  docs/training_manual/rasters/img/raster_calculator.png
  docs/training_manual/rasters/img/raster_sieve_correct.png
  docs/training_manual/rasters/img/raster_sieve_dialog.png
  docs/training_manual/rasters/img/sieve_metadata.png
  docs/training_manual/rasters/img/sieve_result_incorrect.png
  docs/training_manual/rasters/terrain_analysis.rst
Labels: Training Manual, backport release_3.16

#6528 Format steps in some of the graphical modeler lessons
  docs/training_manual/processing/hydro.rst
  docs/training_manual/processing/modeler_hydro.rst
  docs/training_manual/processing/modeler_twi.rst
Labels: Graphical modeler, Training Manual, backport release_3.16

#6547 There's no to_format expression function
  docs/user_manual/working_with_vector/functions_list.rst
Labels: backport release_3.16

#6545 Defining format is not mandatory for wms getprint
  docs/server_manual/services.rst
Labels: backport release_3.16

#6550 fix the readme link error
  README.md
Labels: backport release_3.16
