Repository qgis/QGIS-Documentation, pull requests merged in 2021-12, with the labels that each got.

#7165 XYZ - added tilePixelRatio to xml
  docs/user_manual/managing_data_source/opening_data.rst
Labels: backport release_3.16, backport release_3.22

#7170 ModelBuilder - colors for comments
  docs/user_manual/processing/modeler.rst
Labels: Graphical modeler, backport release_3.22

#7169 Pasting Images into Layout
  docs/user_manual/print_composer/composer_items/composer_image.rst
Labels: Print layout / Atlas / Report, backport release_3.22

#7162 added data defined label rotation
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, backport release_3.22

#7126 Refining the symbology rule-based renderer description
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties, backport release_3.22

#7090 Add configuration property for the vector layer fields
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_vector/img/fields_properties.png
  docs/user_manual/working_with_vector/vector_properties.rst
  qgis-projects/user_manual/working_with_vector_02.qgs
Labels: Vector, backport release_3.22

#7168 arcgis rest servers
  docs/user_manual/introduction/browser.rst
  docs/user_manual/managing_data_source/img/datasource_manager.png
Labels: backport release_3.22

#7180 Add doc for WMS GetCapabilities request
  docs/server_manual/services.rst
Labels: Server, backport release_3.22

#6998 Describe the Interpolated line symbol layer
  docs/user_manual/style_library/img/interpolatedLineSymbol.png
  docs/user_manual/style_library/symbol_selector.rst
  qgis-projects/user_manual/symbols_samples.qgs
  qgis-projects/user_manual/symbols_samples.qgs.mldata
Labels: review_requested, Symbology, backport release_3.22

#7184 PostgreSQL foreign tables
  docs/user_manual/managing_data_source/supported_data.rst
Labels: Managing Layer/Data, backport release_3.22

#7183 Add doc for DescribeLayer WMS request
  docs/server_manual/services.rst
Labels: Server, backport release_3.22

#7192 Add right click project options on welcome page
  docs/user_manual/introduction/project_files.rst
Labels: Project/Configuration, backport release_3.22

#7181 Add doc for the GetSchemaExtension WMS request
  docs/server_manual/services.rst
Labels: Server, backport release_3.22

#7154 Split OGC services
  docs/server_manual/catalog.rst
  docs/server_manual/index.rst
  docs/server_manual/services.rst
  docs/server_manual/services/extra_parameters.rst
  docs/server_manual/services/ogcapif.rst
  docs/server_manual/services/wfs.rst
  docs/server_manual/services/wms.rst
  docs/server_manual/services/wmts.rst
Labels: Server, backport release_3.22

#7201 Update project files with temporal references
  qgis-projects/user_manual/introduction_qgis_gui_map_legend.qgs
  qgis-projects/user_manual/working_with_rasters.qgs
Labels: backport release_3.22

#7202 Extend geometric predicates description to Join attributes by location algs
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/img/selectbylocation.png
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
Labels: Processing Alg, backport release_3.22

#7211 Fix link for WMS GetMap request
  docs/server_manual/services/wms.rst
Labels: backport release_3.22

#7196 Add comment option for postgis tables
  docs/user_manual/plugins/core_plugins/plugins_db_manager.rst
Labels: Managing Layer/Data, backport release_3.22

#7214 Update mesh description with 1D mesh particularities
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, backport release_3.22

#7204 Explain mesh contours resampling methods
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, backport release_3.22

#7220 Add WCS service documentation
  docs/server_manual/img/server_wcs_getcoverage_width_height.png
  docs/server_manual/services.rst
  docs/server_manual/services/wcs.rst
Labels: Server, backport release_3.22

#7227 Fix typo in Getting Started
  docs/user_manual/introduction/getting_started.rst
Labels: backport release_3.16, backport release_3.22

#7232 Fix Input downscaling default value in Raster Properties Dialog - Raster Symbology - Contours rendering
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: backport release_3.16, backport release_3.22

#7235 Add some internal links in WMTS chapter
  docs/server_manual/services/wmts.rst
Labels: Server, backport release_3.22

#7216 Add more doc for the GetLegendGraphics request
  docs/server_manual/img/getfeaturecount_legend.png
  docs/server_manual/img/wms_getlegendgraphics_boxspace.png
  docs/server_manual/img/wms_getlegendgraphics_iconlabelspace.png
  docs/server_manual/img/wms_getlegendgraphics_itemfontbold.png
  docs/server_manual/img/wms_getlegendgraphics_itemfontcolor.png
  docs/server_manual/img/wms_getlegendgraphics_itemfontitalic.png
  docs/server_manual/img/wms_getlegendgraphics_itemfontsize.png
  docs/server_manual/img/wms_getlegendgraphics_layerfontbold.png
  docs/server_manual/img/wms_getlegendgraphics_layerfontcolor.png
  docs/server_manual/img/wms_getlegendgraphics_layerfontitalic.png
  docs/server_manual/img/wms_getlegendgraphics_layerfontsize.png
  docs/server_manual/img/wms_getlegendgraphics_layerspace.png
  docs/server_manual/img/wms_getlegendgraphics_layertitlespace.png
  docs/server_manual/img/wms_getlegendgraphics_rulelabel.png
  docs/server_manual/img/wms_getlegendgraphics_symbolheight.png
  docs/server_manual/img/wms_getlegendgraphics_symbolspace.png
  docs/server_manual/img/wms_getlegendgraphics_symbolwidth.png
  docs/server_manual/services/wms.rst
Labels: backport release_3.22

#7238 Bump auto-label action dependencies version
  .github/workflows/auto-label.yml
Labels: High Priority, dependencies, review_requested

#7003 Create on-the-fly raster with calculator
  docs/user_manual/working_with_raster/raster_analysis.rst
Labels: review_requested, Raster, backport release_3.22

#6995 Add description for 3d polygon symbols
  docs/user_manual/style_library/3d_symbols.rst
Labels: review_requested, Symbology, 3D, backport release_3.22
