Repository qgis/QGIS-Documentation, pull requests merged in 2021-06, with the labels that each got.

#6736 More precise information about BBOX and axis ordering in WMS
  docs/server_manual/services.rst
Labels: Server, Web Service

#6739 Describe attribute table filter expression storage
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/style_library/style_manager.rst
  docs/user_manual/working_with_vector/attribute_table.rst
  docs/user_manual/working_with_vector/expression.rst
  static/common/mActionHandleStoreFilterExpressionChecked.png
  static/common/mActionHandleStoreFilterExpressionUnchecked.png
  substitutions.txt
Labels: Expressions, User Manual, Vector

#6645 Expand and customize the introduction of QGIS documentation
  Makefile
  conf.py
  docs/index.rst
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Backend, enhancement

#6646 Add statistics of localization to the docs
  .github/workflows/translation_statistics.yml
  docs/user_manual/preamble/contributors.rst
  docs/user_manual/preamble/translation_stats.rst
  scripts/load_tx_stats.py
Labels: Backend, Translation

#6747 Fix doctests after QGIS commit 3d31477750
  conf.py
  docs/pyqgis_developer_cookbook/communicating.rst
  docs/pyqgis_developer_cookbook/composer.rst
  docs/pyqgis_developer_cookbook/vector.rst
Labels: PyQGIS Cookbook

#6746 Fill the generated table with empty cells
  scripts/load_tx_stats.py
Labels: Backend, Code, Translation, backport release_3.16

#6738 Mention tools to open attribute table with subset of features
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_vector/attribute_table.rst
  static/common/mActionOpenTable.png
  static/common/mActionOpenTableEdited.png
  static/common/mActionOpenTableSelected.png
  static/common/mActionOpenTableVisible.png
  substitutions.txt
Labels: User Manual, Vector

#6752 Server OAPIF: Make it more clear that HTML pages could be customized
  docs/server_manual/services.rst
Labels: Server, backport release_3.16

#6748 Mention for which version the statistics of translation are provided
  docs/index.rst
  docs/user_manual/preamble/contributors.rst
Labels: backport release_3.16

#6686 Layout update
  docs/user_manual/print_composer/composer_items/composer_legend.rst
  docs/user_manual/print_composer/composer_items/img/legend_item_properties.PNG
  docs/user_manual/print_composer/composer_items/img/legend_item_properties.png
  docs/user_manual/print_composer/composer_items/img/legend_spacing.png
  docs/user_manual/print_composer/composer_items/img/legend_wms.png
  docs/user_manual/print_composer/overview_composer.rst
Labels: Print layout / Atlas / Report, User Manual

#6755 Limit scope of the "pull translation stats" workflow
  .github/workflows/translation_statistics.yml
Labels: Translation, backport release_3.16

#6759 fix wrong parameter name in gdal:cliprasterbymasklayer
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
Labels: backport release_3.16

#6684 Editing update
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing, User Manual, squash!

#6764 Layer metadata can be transferred when exporting a layer
  docs/user_manual/managing_data_source/create_layers.rst
Labels: Managing Layer/Data, Vector

#6770 Fix misaligned screenshot
  docs/user_manual/processing/modeler.rst
Labels: Processing, backport release_3.16

#6724 Introduce 3D global settings and remove duplicate description
  docs/user_manual/introduction/img/options_3d.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
Labels: 3D, Project/Configuration

#6765 Add "burn value..." to rasterize algorithm
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
Labels: Processing Alg

#6763 Mention the "Add dynamic text" in layout label
  docs/user_manual/print_composer/composer_items/composer_label.rst
  docs/user_manual/print_composer/composer_items/img/label_mainproperties.png
  docs/user_manual/print_composer/overview_composer.rst
Labels: Labels, Print layout / Atlas / Report

#6769 Do not unnecessarily fetch translation stats after every changes
  .github/workflows/translation_statistics.yml
Labels: Backend, Translation

#6779 Fix broken link to testing docs
  docs/index.rst
Labels: backport release_3.16

#6767 Label background shapes rely on fill symbols properties
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, Style manager, Vector

#6773 Move up the 3D Configuration section
  docs/user_manual/introduction/qgis_gui.rst
Labels: 3D

#6785 Add 'Results group name' parameter to Configuration section
  docs/user_manual/processing/configuration.rst
Labels: Processing, backport release_3.16

#6768 Make distinction between global digitizing settings and the snapping …
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing, Vector

#6791 Curved labels do not support multiple lines formatting
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, backport release_3.16

#6772 Dynamic layout label can be turned into static
  docs/user_manual/print_composer/composer_items/composer_label.rst
Labels: Print layout / Atlas / Report

#6786 Per-field last entered value reuse
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_vector/img/edit_widgets_dialog.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Properties, Vector
