Repository qgis/QGIS-Documentation, pull requests merged in 2022-10, with the labels that each got.

#7818 [3.22] Mesh editing
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/expressions/functions_list.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_mesh/img/mesh_grid_types.png
  docs/user_manual/working_with_mesh/img/mesh_visualisation.png
  docs/user_manual/working_with_mesh/img/triangual_grid_with_numered_vertices.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/img/draw_rectangles_3_points.png
  docs/user_manual/working_with_vector/img/rotatepointsymbol.png
  docs/user_manual/working_with_vector/img/snap_intersection_icon.png
  docs/user_manual/working_with_vector/img/snap_segment_icon.png
  docs/user_manual/working_with_vector/img/snap_vertex_icon.png
  docs/user_manual/working_with_vector/img/vertex_add_node.png
  static/common/mActionDigitizeShape.png
  static/common/mActionDigitizeWithSegment.png
  static/common/mIconSelectAdd.png
  static/common/mIconSelectRemove.png
  static/common/mIconVertexCoordinates.png
  substitutions.txt
Labels: Mesh, Editing, 3.22

#7815 Only recommend latest LTR and hide translation stats in testing docs
  .github/workflows/translation_statistics.yml
  conf.py
  docs/user_manual/preamble/contributors.rst
  docs/user_manual/preamble/preamble.rst
Labels: Translation, backport release_3.22

#7813 All fields are available in expression dialog functions tree
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions

#7806 Allow key shortcuts customization for plugin actions
  docs/pyqgis_developer_cookbook/plugins/snippets.rst
Labels: PyQGIS Cookbook

#7738 7285 qgis training manual project snapping options (2)
  docs/training_manual/forestry/img/inventory_csv_import.png
  docs/training_manual/forestry/img/join_csv.png
  docs/training_manual/forestry/img/save_vector_layer.png
  docs/training_manual/forestry/stands_digitazing.rst
Labels: Training Manual, Editing

#7819 Fix the "Slope" QGIS algorithm map description
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
Labels: Processing Alg, backport release_3.22

#7812 Expand description of the global rendering settings
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
Labels: Project/Configuration

#7817 Introduce Query Logger in Debugging panel
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/network_logger.png
  docs/user_manual/introduction/img/profiler.png
  docs/user_manual/introduction/img/query_logger.png
  static/common/mIconStopwatch.png
  substitutions.txt
Labels: review_requested

#7800 New doc for point clouds
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/index.rst
  docs/user_manual/working_with_point_clouds/img/point_cloud_3d_view.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_attribute_by_ramp.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_classification.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_elevation.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_information.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_rgb.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_source.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_statistics.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_symbology_overview.png
  docs/user_manual/working_with_point_clouds/point_clouds.rst
  static/common/mAlgorithmBasicStatistics.png
  static/common/multibandColor.png
  static/common/paletted.png
  static/common/pointCloudExtent.png
  static/common/singleColor.png
  static/common/singlebandPseudocolor.png
  substitutions.txt
Labels: Properties, Point Cloud

#7732 Describe some mesh edits processes
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing, backport release_3.22

#7824 [3.22] Only recommend latest LTR and hide translation stats in testing docs
  conf.py
  docs/user_manual/preamble/contributors.rst
  docs/user_manual/preamble/preamble.rst
Labels: 3.22

#7829 Fix email addresses
  docs/training_manual/foreword/foreword.rst
Labels: backport release_3.22

#7831 Data Source Manager dialog is modeless
  docs/user_manual/introduction/img/options_general.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Project/Configuration

#7702 Introduce vector profile chart appearance section
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: review_requested, Vector, Profile Tool

#7730 Explain how Z values are asssigned to mesh elements
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing, backport release_3.22

#7833 Fill rendering tabs for mesh and point cloud
  docs/user_manual/working_with_mesh/img/mesh_rendering.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_point_clouds/img/point_cloud_rendering.png
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: Mesh, Properties, Point Clouds

#7834 Direct access to parts of a geometry collection
  docs/pyqgis_developer_cookbook/geometry.rst
Labels: PyQGIS Cookbook, backport release_3.22

#7698 Add vector layer elevation properties
  docs/user_manual/working_with_vector/img/vector_elevation.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: review_requested, Vector, Properties, Profile Tool

#7842 Update actions for releasing a new version docs
  release_process.md
Labels: backport release_3.22, backport release_3.28
