Repository qgis/QGIS-Documentation, pull requests merged in 2022-02, with the labels that each got.

#7330 BBOX Required for the WMS GetMap request
  docs/server_manual/services/wms.rst
Labels: Server, backport release_3.22

#7332 Add example for EXP_FILTER and FILTER WFS parameters
  docs/server_manual/services/wfs.rst
Labels: Server, backport release_3.22

#7176 ArcGIS REST Server section
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, backport release_3.22

#7039 Introducing mesh algorithms
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
Labels: Processing Alg, review_requested, Mesh, backport release_3.22

#7338 Add license to Server manual and align cookbook's
  docs/pyqgis_developer_cookbook/intro.rst
  docs/server_manual/introduction.rst
Labels: backport release_3.16, backport release_3.22

#7185 Delete cascade on composition relations
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: backport release_3.22

#7334 Do not open master branch when trying to update from 3.16
  conf.py
Labels: Backend, 3.16

#7333 Use correct syntax for the issue auto-label script
  .github/workflows/auto-label.yml
Labels: Backend

#7346 Update "Rasterize (overwrite with fixed value)" GDAL algorithm docs
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
Labels: Processing Alg, backport release_3.22

#7347 Fix authentication test output
  docs/pyqgis_developer_cookbook/authentication.rst
Labels: build/doctest

#6886 Explore Processing settings
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/processing/configuration.rst
Labels: Processing, review_requested, backport release_3.22

#6949 Fix/Update QgsServerFilter cookbook documentation
  docs/pyqgis_developer_cookbook/server.rst
Labels: Server, 3.24

#7022 Explore raster layer temporal properties
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_raster/img/rasterTemporal.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: review_requested, Raster, Temporal, backport release_3.22

#7023 Explore vector layer temporal properties
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_vector/img/vector_temporal.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: review_requested, Vector, Temporal, backport release_3.22

#7355 Reference the Debugging panel
  docs/user_manual/introduction/qgis_gui.rst
Labels: GUI, backport release_3.22

#7357 Fix typo in crs naming
  docs/training_manual/forestry/map_georeferencing.rst
Labels: Training Manual, backport release_3.22

#7359 Remove blank spaces in expression function
  docs/user_manual/expressions/expression_help/Aggregates.rst
  docs/user_manual/expressions/expression_help/Arrays.rst
  docs/user_manual/expressions/expression_help/Color.rst
  docs/user_manual/expressions/expression_help/Map_Layers.rst
  docs/user_manual/expressions/expression_help/Rasters.rst
  scripts/populate_expressions_list.py
Labels: Code, backport release_3.22

#7362 [Auto-label]Remove quote from parameters
  .github/workflows/auto-label.yml
Labels: Backend

#7368 Substitution updates
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/print_composer/composer_items/composer_map.rst
  static/common/buffer.png
  static/common/centroids.png
  static/common/check_geometry.png
  static/common/clip.png
  static/common/convex_hull.png
  static/common/delaunay.png
  static/common/difference.png
  static/common/dissolve.png
  static/common/intersect.png
  static/common/mAlgorithmBuffer.png
  static/common/mAlgorithmCentroids.png
  static/common/mAlgorithmCheckGeometry.png
  static/common/mAlgorithmClip.png
  static/common/mAlgorithmConvexHull.png
  static/common/mAlgorithmDelaunay.png
  static/common/mAlgorithmDifference.png
  static/common/mAlgorithmDissolve.png
  static/common/mAlgorithmIntersect.png
  static/common/mAlgorithmRegularPoints.png
  static/common/mAlgorithmSplitLayer.png
  static/common/mAlgorithmUnion.png
  static/common/rendererMergedFeatures.png
  static/common/split_layer.png
  static/common/union.png
  substitutions.txt
Labels: backport release_3.22

#7343 update instructions for aligning rasters
  docs/training_manual/complete_analysis/analysis_exercise.rst
Labels: Training Manual, backport release_3.22

#6997 Vector symbology batch update
  docs/user_manual/style_library/symbol_selector.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.22

#7373 Add back the option to control point pattern fill rotation
  docs/user_manual/style_library/symbol_selector.rst
Labels: Symbology
