Repository qgis/QGIS-Documentation, pull requests merged in 2022-12, with the labels that each got.

#7898 Improve coding standards with various connections to source code
  docs/developers_guide/codingstandards.rst
Labels: Developer Manual, backport release_3.22, backport release_3.28

#7906 Add coordinate extractors functions and link the deprecated ones to newer
  docs/user_manual/expressions/expression_help/GeometryGroup.rst
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions

#7893 More descriptive steps for restoring layer styles in PG database
  docs/user_manual/managing_data_source/supported_data.rst
Labels: backport release_3.22, backport release_3.28

#7910 Split features with polygons
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: backport release_3.28

#7912 Skip URL redirections and directly use final URL
  conf.py
  docs/developers_guide/codingstandards.rst
  docs/developers_guide/git.rst
  docs/developers_guide/ogcconformancetesting.rst
  docs/documentation_guidelines/do_translations.rst
  docs/documentation_guidelines/first_contribution.rst
  docs/documentation_guidelines/index.rst
  docs/pyqgis_developer_cookbook/geometry.rst
  docs/pyqgis_developer_cookbook/tasks.rst
  docs/server_manual/containerized_deployment.rst
  docs/server_manual/services/ogcapif.rst
  docs/server_manual/services/wcs.rst
  docs/server_manual/services/wfs.rst
  docs/server_manual/services/wms.rst
  docs/server_manual/services/wmts.rst
  docs/training_manual/appendix/contribute.rst
  docs/training_manual/foreword/intro.rst
  docs/training_manual/grass/grass_setup.rst
  docs/training_manual/processing/generalize.rst
  docs/training_manual/processing/geomorpho.rst
  docs/training_manual/qgis_plugins/plugin_examples.rst
  docs/training_manual/spatial_databases/simple_feature_model.rst
  docs/user_manual/appendices/GNU_FDL.rst
  docs/user_manual/appendices/qgis_desktop_network_connections.rst
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/literature_web/literature_and_web_references.rst
  docs/user_manual/managing_data_source/supported_data.rst
  docs/user_manual/processing/3rdParty.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/style_library/3d_symbols.rst
  docs/user_manual/working_with_gps/live_GPS_tracking.rst
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  docs/user_manual/working_with_point_clouds/point_clouds.rst
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: backport release_3.22, backport release_3.28

#7916 Skip URL redirections
  conf.py
  docs/developers_guide/codingstandards.rst
  docs/developers_guide/git.rst
  docs/developers_guide/ogcconformancetesting.rst
  docs/documentation_guidelines/do_translations.rst
  docs/documentation_guidelines/first_contribution.rst
  docs/documentation_guidelines/index.rst
  docs/pyqgis_developer_cookbook/geometry.rst
  docs/pyqgis_developer_cookbook/tasks.rst
  docs/server_manual/containerized_deployment.rst
  docs/server_manual/services/ogcapif.rst
  docs/server_manual/services/wcs.rst
  docs/server_manual/services/wfs.rst
  docs/server_manual/services/wms.rst
  docs/server_manual/services/wmts.rst
  docs/training_manual/appendix/contribute.rst
  docs/training_manual/foreword/intro.rst
  docs/training_manual/grass/grass_setup.rst
  docs/training_manual/processing/generalize.rst
  docs/training_manual/processing/geomorpho.rst
  docs/training_manual/qgis_plugins/plugin_examples.rst
  docs/training_manual/spatial_databases/simple_feature_model.rst
  docs/user_manual/appendices/GNU_FDL.rst
  docs/user_manual/appendices/qgis_desktop_network_connections.rst
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/literature_web/literature_and_web_references.rst
  docs/user_manual/managing_data_source/supported_data.rst
  docs/user_manual/processing/3rdParty.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/style_library/3d_symbols.rst
  docs/user_manual/working_with_gps/live_GPS_tracking.rst
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: 3.22

#7918 Fix parameter name
  docs/server_manual/services/basics.rst
Labels: Server, backport release_3.22, backport release_3.28

#7921 Fix raster type output
  docs/pyqgis_developer_cookbook/raster.rst
Labels: PyQGIS Cookbook, build/doctest

#7914 Add service URL documentation
  docs/server_manual/config.rst
Labels: Server, backport release_3.22, backport release_3.28

#7923 [Backport] Add service URL environment variables
  docs/server_manual/config.rst
Labels: 3.22
