Repository qgis/QGIS-Documentation, pull requests merged in 2022-05, with the labels that each got.

#7433 Add image showing join styles to Buffer documentation
  docs/user_manual/processing_algs/qgis/img/buffer_join_style.png
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: backport release_3.22

#7530 Fix minor language errors
  docs/gentle_gis_introduction/vector_spatial_analysis_buffers.rst
Labels: Gentle GIS introduction, backport release_3.22

#7524 Add new WMS Highlight parameters
  docs/server_manual/services/wms.rst
Labels: Server, Web Service

#7532 Fix "Clip raster by extent" algorithm docs
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
Labels: Processing Alg, backport release_3.22

#7508 Update instructions to install QGIS Server on windows
  docs/server_manual/getting_started.rst
  docs/server_manual/img/qgis_server_windows1.png
  docs/server_manual/img/qgis_server_windows2.png
Labels: Server, backport release_3.22

#7452 Document the release process
  release_process.md
Labels: Backend, build/doctest, backport release_3.22

#7549 Remove unused rediraffe_branch configuration
  conf.py
Labels: Backend, backport release_3.22

#7560 Fixing plural
  docs/user_manual/introduction/project_files.rst
Labels: backport release_3.22

#7551 Move the overlay algs "attributes modification warning" to the include file
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: Processing Alg, backport release_3.22

#7566 Fix rasterlayerstatistics "provider"
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, backport release_3.22

#7569 Update vector_attribute_data.rst
  docs/gentle_gis_introduction/vector_attribute_data.rst
Labels: backport release_3.22

#7576 Standardize text for "remove connection" actions
  docs/user_manual/introduction/browser.rst
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Browser, 3.24

#7579 Indicate better text format options vs label settings'
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, Style manager, backport release_3.22

#7583 Update batch_conversion.rst
  docs/training_manual/processing/batch_conversion.rst
Labels: backport release_3.22

#7578 Brand new extent widget's calculate extent from layout map and bookmark functionality
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/extent_selector.png
  docs/user_manual/managing_data_source/img/saveasraster.png
  docs/user_manual/managing_data_source/img/saveasvector.png
Labels: Processing, GUI, 3.24

#7078 Add Gps Layer to Data Source Manager
  docs/user_manual/managing_data_source/img/datasource_manager.png
  docs/user_manual/managing_data_source/img/gps_datasource.png
  docs/user_manual/managing_data_source/opening_data.rst
Labels: GPS, Managing Layer/Data, backport release_3.22

#7320 Legend Patch Shapes in Style Manager
  docs/user_manual/print_composer/composer_items/composer_legend.rst
  docs/user_manual/style_library/img/createLegendPatchShape.png
  docs/user_manual/style_library/img/safeLegendPatchShape.png
  docs/user_manual/style_library/style_manager.rst
Labels: Style manager, backport release_3.22

#7595 More update of the extent selection widget, in Processing
  docs/user_manual/processing/img/extent.png
  docs/user_manual/processing/toolbox.rst
  docs/user_manual/processing_algs/algs_include.rst
Labels: Processing, Tools

#7592 Comment out cosmetic strings to avoid them in Transifex
  docs/user_manual/processing_algs/algs_include.rst
Labels: Processing, backport release_3.22
