Repository qgis/QGIS-Documentation, pull requests merged in 2022-07, with the labels that each got.

#7667 Add missing module on Task example
  docs/pyqgis_developer_cookbook/tasks.rst
Labels: backport release_3.22

#7669 Make the Georeferencer tool more discoverable
  docs/training_manual/forestry/map_georeferencing.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/preamble/features.rst
  docs/user_manual/working_with_raster/georeferencer.rst
Labels: GUI

#7670 Update rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
Labels: backport release_3.22

#7588 Implement 3D map viewers manager #7279
  docs/user_manual/introduction/qgis_gui.rst
Labels: 3D

#7593 Generell Update of Settings -> CRS tab 7276
  docs/user_manual/introduction/img/defined_crs.png
  docs/user_manual/introduction/img/options_crs.png
  docs/user_manual/introduction/img/options_transformations.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_projections/img/customProjectionDialog.png
Labels: GUI, 3.24

#7597 Add opacity to external layers in WMS
  docs/server_manual/services/wms.rst
Labels: Server, backport release_3.22

#7676 Various fixes and tweaks
  docs/server_manual/services/wms.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: backport release_3.22

#7679 "Terrain elevation offset" is now labeled "Offset"
  docs/user_manual/introduction/qgis_gui.rst
Labels: 3D

#7681 The auto-open capability of the vertex editor panel can be disabled
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  static/common/mIconHamburgerMenu.png
  substitutions.txt
Labels: Editing

#7680 Describe more features of labels settings items
  docs/user_manual/style_library/label_settings.rst
Labels: Labels

#7159 Delimited text type updates
  docs/user_manual/managing_data_source/img/delimited_text_dialog.png
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/managing_data_source/supported_data.rst
Labels: Managing Layer/Data, 3.24

#7682 Reorder sections to match Options dialog
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#7689 Tell people to apply changes
  docs/user_manual/introduction/project_files.rst
Labels: Project/Configuration, backport release_3.22

#7684 Describe environment custom variables
  docs/user_manual/introduction/qgis_configuration.rst
Labels: review_requested, Project/Configuration

#7688 Add strategies to refresh project cache on server
  docs/server_manual/config.rst
Labels: Server, review_requested

#7700 Server - Add note about useful plugins on server
  docs/server_manual/plugins.rst
Labels: backport release_3.22

#7704 Add FORCE_RASTER and IMAGE_COMPRESSION parameters
  docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing Alg
