Repository qgis/QGIS-Documentation, pull requests merged in 2022-09, with the labels that each got.

#7748 Update layers contextual menu
  docs/user_manual/introduction/general_tools.rst
Labels: GUI

#7736 Update Dockerfile for containerized deployment of qgis-server
  docs/server_manual/containerized_deployment.rst
Labels: Server, backport release_3.22

#7764 Add missing custom template function
  docs/server_manual/services/ogcapif.rst
Labels: backport release_3.22

#7766 Add repair method to Fix geometries algorithm
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#7775 Update expression functions and variables docs
  docs/user_manual/expressions/expression_help/GeometryGroup.rst
  docs/user_manual/expressions/expression_help/Record_and_Attributes.rst
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions

#7785 Update loadproject.rst
  docs/pyqgis_developer_cookbook/loadproject.rst
Labels: PyQGIS Cookbook, backport release_3.22

#7782 Update point displacement and point cluster renderers
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties

#7781 Use numbered list for steps to configure server on Linux
  docs/server_manual/getting_started.rst
Labels: Server, backport release_3.22

#7783 Simplify the "Plugin Manager" dialog description
  docs/user_manual/plugins/img/de/plugins_all.png
  docs/user_manual/plugins/img/de/plugins_installed.png
  docs/user_manual/plugins/img/de/plugins_not_installed.png
  docs/user_manual/plugins/img/de/plugins_settings.png
  docs/user_manual/plugins/img/plugins_all.png
  docs/user_manual/plugins/img/plugins_install_zip.png
  docs/user_manual/plugins/img/plugins_installed.png
  docs/user_manual/plugins/img/plugins_invalid.png
  docs/user_manual/plugins/img/plugins_not_installed.png
  docs/user_manual/plugins/img/plugins_settings.png
  docs/user_manual/plugins/img/plugins_upgradeable.png
  docs/user_manual/plugins/plugins.rst
Labels: Plugins

#7788 Create action to stale and close issue reports and PR
  .github/workflows/stale.yml
Labels: Backend

#7789 Use link to NGINX docs page instead
  docs/server_manual/getting_started.rst
Labels: Server

#7790 No more plugins update info on status bar
  docs/user_manual/introduction/qgis_gui.rst
Labels: Project/Configuration, Plugins

#7793 Update layout map item main properties
  docs/user_manual/print_composer/composer_items/composer_map.rst
  docs/user_manual/print_composer/composer_items/img/map_cliptoitem.gif
  docs/user_manual/print_composer/composer_items/img/map_mainproperties.png
Labels: Print layout / Atlas / Report, backport release_3.22

#7729 Introduce the mesh editing tools
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing

#7797 Implement images display in expression function help
  conf.py
  docs/user_manual/expressions/expression_help/GeometryGroup.rst
  docs/user_manual/expressions/expression_help/img/images_list.json
  docs/user_manual/expressions/expression_help/img/rotate.gif
  docs/user_manual/expressions/expression_help/img/rotate.png
  scripts/populate_expressions_list.py
Labels: Code, Expressions

#7699 Add mesh layer elevation properties
  docs/user_manual/working_with_mesh/img/mesh_elevation.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: review_requested, Mesh, Properties, Profile Tool

#7683 Update Project default styles properties
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/project_default_styles.png
  docs/user_manual/introduction/img/project_styles.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#7734 Add "Transform mesh Vertices" tool
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing

#7731 Describe ways to select mesh elements
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing

#7735 Reindex faces and vertices
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing

#7799 Add image of layout map being clipped also on PDF output
  docs/user_manual/print_composer/composer_items/composer_map.rst
  docs/user_manual/print_composer/composer_items/img/map_cliptoitem.png
Labels: Showcase/Screenshots, PDF Docs, backport release_3.22

#7805 No more debugging section in global Rendering Options
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#7804 Update between and not between functions documentation
  docs/user_manual/expressions/expression_help/Operators.rst
  docs/user_manual/expressions/functions_list.rst
  scripts/populate_expressions_list.py
Labels: Expressions

#7349 Describe output folder related settings for Processing
  docs/user_manual/processing/configuration.rst
Labels: Processing, review_requested, backport release_3.22
