Repository qgis/QGIS-Documentation, pull requests merged in 2022-06, with the labels that each got.

#7598 Fix FILE_TYPE parameter in "Split vector layer"
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg, backport release_3.22

#7611 Add more processing parameters for point cloud
  docs/user_manual/processing/scripts.rst
Labels: Processing, Point Cloud

#7606 Add "Keep disjoint features separate" to dissolve alg
  docs/user_manual/processing_algs/qgis/img/dissolve.png
  docs/user_manual/processing_algs/qgis/img/dissolve_disjoint.png
  docs/user_manual/processing_algs/qgis/img/dissolve_disjoint_field.png
  docs/user_manual/processing_algs/qgis/img/dissolve_field.png
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#7614 Detail some properties of fill symbol layer types
  docs/user_manual/style_library/symbol_selector.rst
Labels: Style manager, backport release_3.22

#7574 Allow full text rendering capabilities in layout text labels
  docs/user_manual/print_composer/composer_items/composer_label.rst
  docs/user_manual/print_composer/composer_items/img/label_mainproperties.png
Labels: Print layout / Atlas / Report, 3.24

#7616 Upgrade dependencies version for github actions
  .github/workflows/builds.yml
  .github/workflows/doctest.yml
  .github/workflows/pofiles.yml
  .github/workflows/translation_statistics.yml
Labels: Backend, dependencies

#7628 Correct spelling font-freefonts-otf to fonts-freefont-otf
  README.md
Labels: backport release_3.22

#7620 Add information regarding calculation of "Meters at Scale"
  docs/user_manual/introduction/general_tools.rst
Labels: backport release_3.22

#7617 Mention 3D view and OAPIF as features
  docs/user_manual/preamble/features.rst
Labels: backport release_3.22

#7618 Mention that 3D map views are saved in project
  docs/user_manual/introduction/project_files.rst
Labels: 3D

#7635 Fix typo
  docs/training_manual/vector_classification/classification.rst
Labels: backport release_3.22

#7627 Images for extract/clip by extent
  docs/user_manual/processing_algs/qgis/img/extractbyextent.png
  docs/user_manual/processing_algs/qgis/img/extractbyextent_clip.png
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: backport release_3.22

#7608 Add "Export atlas layout as PDF (multiple files)" alg
  docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing Alg

#7613 Add multi-Difference/Intersection/Union overlay algorithms
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/qgis/img/clip.png
  docs/user_manual/processing_algs/qgis/img/difference.png
  docs/user_manual/processing_algs/qgis/img/difference_multi.png
  docs/user_manual/processing_algs/qgis/img/intersection.png
  docs/user_manual/processing_algs/qgis/img/intersection_multi.png
  docs/user_manual/processing_algs/qgis/img/symmetrical_difference.png
  docs/user_manual/processing_algs/qgis/img/union.png
  docs/user_manual/processing_algs/qgis/img/union_multi.png
  docs/user_manual/processing_algs/qgis/img/union_with_overlay.png
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: Processing Alg

#7629 Improve 1-N relations documentation
  docs/user_manual/working_with_vector/attribute_table.rst
  docs/user_manual/working_with_vector/img/relations11.png
Labels: backport release_3.22

#7559 Fix QgsWkbTypes in QgsRubberBand
  docs/pyqgis_developer_cookbook/canvas.rst
Labels: PyQGIS Cookbook, backport release_3.22

#7651 Server - Use "none" instead of "bash" for GEOMETRYNAME
  docs/server_manual/services/wfs.rst
Labels: backport release_3.22

#7647 Add opacity to shading texture in 3D
  docs/user_manual/style_library/3d_symbols.rst
  docs/user_manual/style_library/img/3d_line_symbol.png
  docs/user_manual/style_library/img/3d_point_symbol.png
Labels: Symbology, 3D

#7210 Upgraded the batch_processing section
  docs/user_manual/processing/batch.rst
  docs/user_manual/processing/img/batch_processing.png
  docs/user_manual/processing/img/batch_processing_filepath.png
  docs/user_manual/processing/img/batch_processing_params_dialog.png
  docs/user_manual/processing/img/parameters_dialog.png
  docs/user_manual/processing/toolbox.rst
Labels: Processing, backport release_3.22

#7646 Misc updates to symbol layer properties
  docs/user_manual/style_library/img/clipPointPatternFill.png
  docs/user_manual/style_library/img/hashedLineSymbol.png
  docs/user_manual/style_library/img/lineburstSymbol.png
  docs/user_manual/style_library/img/pointPatternAlignment.png
  docs/user_manual/style_library/img/rasterLineSymbol.png
  docs/user_manual/style_library/img/simpleLineSymbol.png
  docs/user_manual/style_library/img/simpleMarkerSymbol.png
  docs/user_manual/style_library/symbol_selector.rst
Labels: Symbology, Style manager

#7643 add flag info
  docs/pyqgis_developer_cookbook/loadproject.rst
Labels: PyQGIS Cookbook, backport release_3.22

#7658 Fix flag name and doctest build
  docs/pyqgis_developer_cookbook/loadproject.rst
Labels: PyQGIS Cookbook, build/doctest

#7656 Add subtle properties of the Processing batch outputs
  docs/user_manual/processing/batch.rst
Labels: Processing, backport release_3.22

#7661 Update vector digitizing images
  docs/user_manual/working_with_vector/img/gapcheck.png
  docs/user_manual/working_with_vector/img/missingvertexcheck.png
  docs/user_manual/working_with_vector/img/overlapcheck.png
  docs/user_manual/working_with_vector/img/vector_digitizing_properties.png
Labels: Showcase/Screenshots, backport release_3.22

#7663 qgis_process accepts json input parameters
  docs/user_manual/processing/standalone.rst
Labels: Processing

#7605 Add "Extract labels" algorithm
  docs/user_manual/processing_algs/qgis/cartography.rst
Labels: Processing Alg
