Repository qgis/QGIS-Documentation, pull requests merged in 2022-01, with the labels that each got.

#7254 Redirecting expressions chapters
  redirects.txt
Labels: 3.16

#7255 Bump backport action's version
  .github/workflows/backport.yml
Labels: dependencies

#6862 Add Vector Tiles related algorithms
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/vectortiles.rst
Labels: Processing Alg, review_requested, Vector Tiles, backport release_3.22

#7256 [3.16] Add vector tiles algorithms
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/vectortiles.rst
Labels: Processing Alg, 3.16, Vector Tiles

#7259 Minor change in eclipse .bat startup file
  docs/pyqgis_developer_cookbook/plugins/ide_debugging.rst
Labels: backport release_3.16, backport release_3.22

#6844 [GPR] Describe 3D and Simplification properties of mesh layer
  docs/user_manual/working_with_mesh/img/mesh_3d.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: review_requested, Mesh, 3D, Properties, backport release_3.22

#7266 Document numerous Processing algorithms
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/database.rst
  docs/user_manual/processing_algs/qgis/img/equaltofrequency.png
  docs/user_manual/processing_algs/qgis/img/greaterthanfrequency.png
  docs/user_manual/processing_algs/qgis/img/highestposition.png
  docs/user_manual/processing_algs/qgis/img/lessthanfrequency.png
  docs/user_manual/processing_algs/qgis/img/lowestposition.png
  docs/user_manual/processing_algs/qgis/modelertools.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, 3.16

#7273 Minor processing alg description fixes
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg, backport release_3.22

#7271 Update map georeferencing exercice
  docs/training_manual/forestry/img/Clipboard10.png
  docs/training_manual/forestry/img/f_1.png
  docs/training_manual/forestry/map_georeferencing.rst
Labels: Training Manual, backport release_3.22

#7284 Update georeferencer lesson - take 2
  docs/training_manual/forestry/img/f_1.png
  docs/training_manual/forestry/img/fillcoordinates.png
  docs/training_manual/forestry/img/georeferencer.png
  docs/training_manual/forestry/map_georeferencing.rst
Labels: Training Manual, backport release_3.22

#7303 Update WMS FILTER example
  docs/server_manual/img/wms_getmap_filter.png
  docs/server_manual/services/wms.rst
Labels: Server, backport release_3.22

#7283 [Export layer] document extent parameter
  docs/user_manual/managing_data_source/create_layers.rst
Labels: backport release_3.22

#7312 Add list view for style manager
  docs/user_manual/style_library/style_manager.rst
Labels: Style manager, backport release_3.22

#7315 Update zoom_tile and vector_tile_zoom variables
  docs/user_manual/expressions/functions_list.rst
Labels: backport release_3.22

#7219 Save QGIS project in PostgreSQL
  docs/user_manual/managing_data_source/supported_data.rst
Labels: backport release_3.22

#7302 Restore missing Value Realtion
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.22

#7021 Exploring the map time navigation concepts and usage
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/img/map_navigation.gif
  docs/user_manual/introduction/img/saveTimeAnimation.png
  docs/user_manual/introduction/img/temporal_controller_panel.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
  static/common/mTemporalNavigationAnimated.png
  static/common/mTemporalNavigationFixedRange.png
  static/common/mTemporalNavigationOff.png
  substitutions.txt
Labels: review_requested, Project/Configuration, Temporal, GUI, backport release_3.22

#7313 Display warnings in the modeler chapter
  docs/user_manual/processing_algs/qgis/modelertools.rst
Labels: User Manual, Processing Alg, Graphical modeler, backport release_3.22

#7325 Error corrected
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: backport release_3.16, backport release_3.22

#7322 Formatting of tables in browser chapter
  docs/user_manual/introduction/browser.rst
Labels: backport release_3.16, Browser, backport release_3.22
