Repository qgis/QGIS-Documentation, pull requests merged in 2022-11, with the labels that each got.

#7848 Clarify behavior and steps of trim/extend tool
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing, backport release_3.22, backport release_3.28

#7849 Memo for other repos we depend on for release
  release_process.md
Labels: build/doctest, backport release_3.28, Documentation

#7844 Add more images to expressions examples
  docs/user_manual/expressions/expression_help/Arrays.rst
  docs/user_manual/expressions/expression_help/GeometryGroup.rst
  docs/user_manual/expressions/expression_help/img/images_list.json
Labels: Showcase/Screenshots, Expressions, backport release_3.22, backport release_3.28

#7841 Base64 string for Raster image marker and SVG marker symbologies
  docs/user_manual/style_library/symbol_selector.rst
Labels: backport release_3.22, backport release_3.28

#7845 Merge map canvas navigation descriptions into the "map view" section
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_gui.rst
Labels: GUI, Tools, backport release_3.28

#7863 Say "Bye" to some old versions
  docs_conf.yml
  scripts/fix_versions.sh
Labels: build/doctest, backport release_3.22, backport release_3.28

#7838 Add entries to map canvas contextual menu
  docs/pyqgis_developer_cookbook/canvas.rst
Labels: PyQGIS Cookbook, backport release_3.22, backport release_3.28

#7873 Redirect old core plugins pages
  redirects.txt
Labels: Backend, backport release_3.22, backport release_3.28

#7878 Add pointer to prlimit, fixes #6012
  docs/user_manual/preamble/features.rst
Labels: backport release_3.28

#7885 Fix bugs
  docs/pyqgis_developer_cookbook/canvas.rst
Labels: PyQGIS Cookbook, backport release_3.22, backport release_3.28

#7881 Readjusting the stale action options
  .github/workflows/stale.yml
Labels: Backend, Feedback, Stale

#7886 Add supported model formats
  docs/user_manual/style_library/3d_symbols.rst
Labels: Style manager, backport release_3.28

#7894 Fix mapTipTemplate class name
  docs/pyqgis_developer_cookbook/vector.rst
Labels: PyQGIS Cookbook, build/doctest

#7895 Add raster maptip related expression functions
  docs/user_manual/expressions/expression_help/Maps.rst
  docs/user_manual/expressions/expression_help/Rasters.rst
Labels: Expressions

#7899 Fix various broken URL reported by make linkcheck
  docs/developers_guide/localization.rst
  docs/developers_guide/processingtesting.rst
  docs/developers_guide/unittesting.rst
  docs/documentation_guidelines/do_translations.rst
  docs/gentle_gis_introduction/authors_and_contributors.rst
  docs/training_manual/processing/more_backends.rst
  docs/user_manual/grass_integration/grass_integration.rst
  docs/user_manual/introduction/getting_started.rst
  docs/user_manual/managing_data_source/supported_data.rst
Labels: backport release_3.22, backport release_3.28
