Repository qgis/QGIS-Documentation, pull requests merged in 2022-08, with the labels that each got.

#7706 Layout attribute table follows layer conditional styling rules
  docs/user_manual/print_composer/composer_items/composer_tables.rst
Labels: Print layout / Atlas / Report

#7707 Style manager has a size slider for symbol preview
  docs/user_manual/style_library/img/stylemanager.png
  docs/user_manual/style_library/style_manager.rst
Labels: Style manager

#7708 Add ways to copy commands from Processing alg or History dialog
  docs/user_manual/processing/history.rst
  docs/user_manual/processing/img/algdialoglog.png
  docs/user_manual/processing/img/history.png
  docs/user_manual/processing/img/toolbox.png
  docs/user_manual/processing/img/toolbox_search.png
  docs/user_manual/processing/img/vector_iterator.png
  docs/user_manual/processing/toolbox.rst
Labels: Processing

#7575 Allow text buffer size, shadow offset and radius to be set in "percentage" units
  docs/user_manual/introduction/general_tools.rst
Labels: Labels, 3.24

#7711 Generate PDF for the "Gentle Introduction to GIS" document
  Makefile
  conf.py
Labels: PDF Docs, backport release_3.22

#7714 Detail "Add files by pattern option"
  docs/user_manual/processing/batch.rst
Labels: Processing

#7594 Dock/Undock behaviour to 3D views
  docs/user_manual/introduction/qgis_gui.rst
Labels: 3D

#7712 New select fields export options in "Vector save as" dialog
  docs/user_manual/managing_data_source/create_layers.rst
  docs/user_manual/managing_data_source/img/saveasraster.png
  docs/user_manual/managing_data_source/img/saveasvector.png
Labels: Managing Layer/Data

#7685 Marker/hash line: allow offset along line in percent, and negative offsets along line #7207
  docs/user_manual/style_library/symbol_selector.rst
Labels: Symbology, Style manager

#6909 Add tips and good practice for plugins developers
  docs/pyqgis_developer_cookbook/plugins/plugins.rst
  docs/pyqgis_developer_cookbook/plugins/snippets.rst
Labels: PyQGIS Cookbook, Code, review_requested, backport release_3.22

#7693 Generell update of QGIS Configuration -> Options
  docs/user_manual/auth_system/img/auth-editor-configs2.png
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/acceleration_menu.png
  docs/user_manual/introduction/img/defined_crs.png
  docs/user_manual/introduction/img/options_3d.png
  docs/user_manual/introduction/img/options_acceleration.png
  docs/user_manual/introduction/img/options_advanced.png
  docs/user_manual/introduction/img/options_canvas_legend.png
  docs/user_manual/introduction/img/options_codeeditor.png
  docs/user_manual/introduction/img/options_colors.png
  docs/user_manual/introduction/img/options_crs.png
  docs/user_manual/introduction/img/options_data_sources.png
  docs/user_manual/introduction/img/options_defined_crs.png
  docs/user_manual/introduction/img/options_digitizing.png
  docs/user_manual/introduction/img/options_gdal.png
  docs/user_manual/introduction/img/options_general.png
  docs/user_manual/introduction/img/options_gpsbabel.png
  docs/user_manual/introduction/img/options_layouts.png
  docs/user_manual/introduction/img/options_locator.png
  docs/user_manual/introduction/img/options_map_tools.png
  docs/user_manual/introduction/img/options_network.png
  docs/user_manual/introduction/img/options_processing.png
  docs/user_manual/introduction/img/options_pythonconsole.png
  docs/user_manual/introduction/img/options_rendering.png
  docs/user_manual/introduction/img/options_rendering_raster.png
  docs/user_manual/introduction/img/options_rendering_vector.png
  docs/user_manual/introduction/img/options_system.png
  docs/user_manual/introduction/img/options_transformations.png
  docs/user_manual/introduction/img/options_variables_global.png
  docs/user_manual/introduction/img/project_variables.png
  docs/user_manual/introduction/img/proxy-settings.png
  docs/user_manual/introduction/img/rendering_menu.png
  docs/user_manual/introduction/img/sys-env-options.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#7742 "Convert map to raster" algorithm is "native"
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, backport release_3.22

#7724 Address digitizing tools refactoring
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing

#7726 Explore the Advanced digitizing Panel toolbar and GUI
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/img/advanced_digitizing.png
Labels: Editing

#7725 Describe logic of digitizing vector with z or m
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing

#7686 Mention Interpretation setting for WMTS/XYZ rasters
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/managing_data_source/img/xyz_tiles_dialog_osm.png
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  docs/user_manual/working_with_raster/img/rasterSingleBandGray.png
  docs/user_manual/working_with_raster/img/rasterSingleBandPseudocolor.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: review_requested, Raster, Project/Configuration, Web Service
