Repository qgis/QGIS-Documentation, pull requests merged in 2023-06, with the labels that each got.

#8032 Add int8 raster data type to Processing algorithms
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
Labels: Processing Alg

#8309 Normalize pdf output file name by removing QGIS prefix
  conf.py
Labels: Backend, backport release_3.28

#8300 Update forest stands exercise
  docs/training_manual/forestry/img/inventory_csv_import.png
  docs/training_manual/forestry/img/join_csv.png
  docs/training_manual/forestry/img/join_squirrel_point.png
  docs/training_manual/forestry/img/joined_squirrel_buffer.png
  docs/training_manual/forestry/img/joined_squirrel_point.png
  docs/training_manual/forestry/img/save_vector_layer.png
  docs/training_manual/forestry/img/snapping_2012.png
  docs/training_manual/forestry/img/snapping_settings_forest.png
  docs/training_manual/forestry/img/squirrel_15m.png
  docs/training_manual/forestry/img/stands_squirrel_table.png
  docs/training_manual/forestry/parameters_calculation.rst
  docs/training_manual/forestry/stands_digitizing.rst
  docs/training_manual/forestry/updating_stands.rst
Labels: Training Manual, backport release_3.28

#8304 Update network analyst lesson
  docs/training_manual/vector_analysis/img/fastest_path_attribute.png
  docs/training_manual/vector_analysis/img/fastest_path_result.png
  docs/training_manual/vector_analysis/img/network_map.png
  docs/training_manual/vector_analysis/img/select_network_algorithms.png
  docs/training_manual/vector_analysis/img/service_area.png
  docs/training_manual/vector_analysis/img/shortest_path_advanced.png
  docs/training_manual/vector_analysis/img/shortest_path_conversion.png
  docs/training_manual/vector_analysis/img/shortest_point.png
  docs/training_manual/vector_analysis/img/shortest_point_attributes.png
  docs/training_manual/vector_analysis/img/speed_limit.png
  docs/training_manual/vector_analysis/img/speed_limit_parameters.png
  docs/training_manual/vector_analysis/img/start_end_point.png
  docs/training_manual/vector_analysis/network_analysis.rst
Labels: Training Manual, backport release_3.28

#8311 Move "Point symbol" and "Layer rendering" to proper sections under Point cloud Symbology
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: Point Clouds, backport release_3.28

#8308 Update display coordinates options
  docs/user_manual/introduction/img/project_general.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: backport release_3.28

#8326 Update getting_started.rst
  docs/user_manual/introduction/getting_started.rst
Labels: backport release_3.28

#8325 The debian package is now named python3-qgis
  docs/training_manual/qgis_server/install.rst
Labels: backport release_3.28

#8316 Add more Point cloud Symbology Layer rendering options
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: Point Clouds, backport release_3.28

#8335 [TM] Line, not fill, for linestring features symbology
  docs/training_manual/complete_analysis/analysis_exercise.rst
Labels: Training Manual, backport release_3.28

#8337 Update Getting Started steps and mention the ballpark transform message
  docs/user_manual/introduction/getting_started.rst
  docs/user_manual/introduction/img/selectCRS.png
Labels: backport release_3.28

#8345 Fix hyperlink
  docs/documentation_guidelines/index.rst
Labels: Guidelines, backport release_3.28

#8347 Server - Change GetLegendGraphics to GetLegendGraphic
  docs/server_manual/img/wms_getlegendgraphic_boxspace.png
  docs/server_manual/img/wms_getlegendgraphic_iconlabelspace.png
  docs/server_manual/img/wms_getlegendgraphic_itemfontbold.png
  docs/server_manual/img/wms_getlegendgraphic_itemfontcolor.png
  docs/server_manual/img/wms_getlegendgraphic_itemfontitalic.png
  docs/server_manual/img/wms_getlegendgraphic_itemfontsize.png
  docs/server_manual/img/wms_getlegendgraphic_layerfontbold.png
  docs/server_manual/img/wms_getlegendgraphic_layerfontcolor.png
  docs/server_manual/img/wms_getlegendgraphic_layerfontitalic.png
  docs/server_manual/img/wms_getlegendgraphic_layerfontsize.png
  docs/server_manual/img/wms_getlegendgraphic_layerspace.png
  docs/server_manual/img/wms_getlegendgraphic_layertitlespace.png
  docs/server_manual/img/wms_getlegendgraphic_rulelabel.png
  docs/server_manual/img/wms_getlegendgraphic_symbolheight.png
  docs/server_manual/img/wms_getlegendgraphic_symbolspace.png
  docs/server_manual/img/wms_getlegendgraphic_symbolwidth.png
  docs/server_manual/services/wms.rst
Labels: Server

#8348 Include Elevation Profile Tool in user manual
  docs/training_manual/online_resources/wms.rst
  docs/user_manual/map_views/elevation_profile.rst
  docs/user_manual/map_views/img/elevation_tool_interaction.png
  docs/user_manual/map_views/index.rst
  static/common/mActionArrowLeft.png
  static/common/mActionArrowRight.png
  static/common/mActionCaptureCurveFromFeature.png
  static/common/mActionZoomInXAxis.png
  static/common/mIconLayerTree.png
  substitutions.txt
Labels: User Manual, backport release_3.28

#8350 Add mention of pipe usage when adding GDAL creation options in modeler
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
Labels: Processing Alg, backport release_3.28

#8362 Fix typo in WMS GetMap parameter
  docs/server_manual/services/wms.rst
Labels: backport release_3.28
