Repository qgis/QGIS-Documentation, pull requests merged in 2023-11, with the labels that each got.

#8351 Add hint for qgis_process usage on systems without window manager
  docs/user_manual/processing/standalone.rst
Labels: Processing, backport release_3.28

#8596 note for SVG parameters
  docs/user_manual/style_library/symbol_selector.rst
Labels: backport release_3.34

#8599 Measurement tools configs and cleanups
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/map_views/map_view.rst
Labels: Project/Configuration, backport release_3.34

#8600 Scale bar decorations follow project distance unit
  docs/user_manual/map_views/map_view.rst
Labels: Project/Configuration, backport release_3.34

#8601 Add 3D and Elevation global settings
  docs/user_manual/introduction/img/options_3d.png
  docs/user_manual/introduction/img/options_elevation.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.34

#8602 Add Python console global options
  docs/user_manual/introduction/img/options_pythonconsole.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.34

#8612 Tweaks wms services description
  docs/server_manual/services/wms.rst
Labels: Server, backport release_3.34

#8457 Add a bunch of point cloud algorithms
  docs/user_manual/processing_algs/qgis/img/point_cloud_boundary.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_buildvpc.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_clip.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_density.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_exportraster.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_exportrastertin.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_exportvector.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_filter.png
  docs/user_manual/processing_algs/qgis/img/point_cloud_thin.gif
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/pointcloudconversion.rst
  docs/user_manual/processing_algs/qgis/pointclouddatamanagement.rst
  docs/user_manual/processing_algs/qgis/pointcloudextraction.rst
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: Processing Alg, Feedback, Point Clouds, Stale, backport release_3.34

#8618 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28

#8626 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28, backport release_3.34

#8631 Document the WEBP format for GetMap
  docs/server_manual/services/wms.rst
Labels: Server, backport release_3.28, backport release_3.34

#8630 Use correct image for elevation settings
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Showcase/Screenshots, Project/Configuration, backport release_3.34

#8597 Describe project's "global map shading" properties
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/project_terrain.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: backport release_3.34

#8603 Describe new layer tree insertion methods
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/options_canvas_legend.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.34

#8623 Fix broken links in PostGIS documentation
  docs/training_manual/spatial_databases/index.rst
Labels: Training Manual, backport release_3.28, backport release_3.34

#8644 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28, backport release_3.34

#8649 Add PDF format to WMS GetMap requests
  docs/server_manual/services/wms.rst
Labels: Server

#8661 NoData Harmonization
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: backport release_3.34

#8655 Better indentation of filtered layers tip for point clouds
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: Properties, Point Clouds, backport release_3.34

#8653 Add -inf inf and nan
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: backport release_3.28, backport release_3.34

#8622 Server: Add example how to filter WFS by polygon
  docs/server_manual/services/wfs.rst
Labels: backport release_3.28, backport release_3.34

#8625 Unit tests section: All test methods should be 'private' (not 'public')
  docs/developers_guide/unittesting.rst
Labels: Developer Manual, backport release_3.34

#8651 Add Processing algorithms for raster alignments
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/working_with_raster/img/raster_align.png
  docs/user_manual/working_with_raster/img/raster_align_edit.png
  docs/user_manual/working_with_raster/raster_analysis.rst
Labels: Processing Alg, backport release_3.34

#8672 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28, backport release_3.34

#8654 Add extent option to GDAL Raster Calculator algorithm
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
Labels: Processing Alg, backport release_3.34
