Repository qgis/QGIS-Documentation, pull requests merged in 2023-10, with the labels that each got.

#8545 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28

#8549 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28

#8527 Update rendering properties of vector and raster layers
  docs/user_manual/working_with_raster/img/rasterRendering.png
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/img/simplify_rendering.png
  docs/user_manual/working_with_vector/img/vector_rendering.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Raster, Properties

#8528 Remove subsections from Vector Rendering properties section
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties

#8529 Clarify what the grid interval type refers to
  docs/user_manual/print_composer/composer_items/composer_map.rst
Labels: Print layout / Atlas / Report

#8492 More visibility to the geometry generator symbol examples
  docs/user_manual/style_library/img/arrow_relations.png
  docs/user_manual/style_library/img/radial_symbols.png
  docs/user_manual/style_library/img/radial_symbols_datadefined.png
  docs/user_manual/style_library/symbol_selector.rst
Labels: Showcase/Screenshots, Symbology, Style manager, Expressions

#8456 Introduce point cloud expression filter dialog
  docs/user_manual/working_with_point_clouds/img/point_cloud_querybuilder.png
  docs/user_manual/working_with_point_clouds/img/point_cloud_source.png
  docs/user_manual/working_with_point_clouds/point_clouds.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Properties, Point Clouds

#8553 Explain how to enable/use shape digitizing tools
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing

#8539 Update layout map grid "rotation" properties
  docs/user_manual/print_composer/composer_items/composer_map.rst
  docs/user_manual/print_composer/composer_items/img/map_grid_draw_coordinates.png
  docs/user_manual/print_composer/composer_items/img/map_grid_frame.png
Labels: Print layout / Atlas / Report

#8532 Mention "Enable map tips" checkbox
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties

#8556 Expand the Options' drop-down menu in Elevation Profile toolbar
  docs/user_manual/map_views/elevation_profile.rst
Labels: Profile Tool

#8559 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28

#8564 FIx the documentation of RULE in server manual
  docs/server_manual/services/wms.rst
Labels: Server

#8573 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28

#8571 Add symbol_frame variable to list
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions

#8570 Adding elevation Fill Above properties
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Properties, Profile Tool

#8575 Show layout page number in page properties
  docs/user_manual/print_composer/img/page_properties.png
  docs/user_manual/print_composer/overview_composer.rst
Labels: Print layout / Atlas / Report

#8572 Add multiselection from layout Items panel
  docs/user_manual/print_composer/overview_composer.rst
Labels: Print layout / Atlas / Report

#8578 Add 3D Tiles algorithms
  docs/user_manual/processing_algs/qgis/3dtiles.rst
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/modelertools.rst
Labels: Processing Alg, 3D Tile

#8581 Update the release process notes
  release_process.md
Labels: backport release_3.34

#8585 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28, backport release_3.34
