Repository qgis/QGIS-Documentation, pull requests merged in 2023-09, with the labels that each got.

#8452 Add "Download vector tiles" algorithm
  docs/user_manual/processing/console.rst
  docs/user_manual/processing/modeler.rst
  docs/user_manual/processing/scripts.rst
  docs/user_manual/processing_algs/qgis/vectortiles.rst
Labels: Processing Alg, 3.32

#8444 Add DTM filter (slope-based) algorithm
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
Labels: Processing Alg

#8508 Update tasks.rst
  docs/pyqgis_developer_cookbook/tasks.rst
Labels: backport release_3.28

#8379 Add Server pdf format options
  docs/server_manual/services/wms.rst
Labels: Server, Feedback

#8514 Fix references to expression function/tab and update screenshot
  docs/user_manual/expressions/expression.rst
  docs/user_manual/managing_data_source/create_layers.rst
  docs/user_manual/style_library/symbol_selector.rst
  docs/user_manual/working_with_vector/attribute_table.rst
  docs/user_manual/working_with_vector/img/fieldcalculator.png
Labels: Expressions

#8517 Fix misc issues reported in Transifex
  docs/training_manual/complete_analysis/analysis_exercise.rst
  docs/training_manual/forestry/parameters_calculation.rst
  docs/training_manual/grass/grass_setup.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: backport release_3.28

#8516 Add translation statistics
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28

#8534 Move tip on attachment widget close to the widget description
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties

#8524 Move down Elevation section to align with the Raster properties dialog
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Raster, Properties

#8523 Add details on "bounding boxes" algorithm output
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#8538 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28
