Repository qgis/QGIS-Documentation, pull requests merged in 2023-08, with the labels that each got.

#8418 Rename graphical modeler to model designer to respect the GUI
  docs/training_manual/processing/html.rst
  docs/training_manual/processing/iterative.rst
  docs/training_manual/processing/modeler_hydro.rst
  docs/training_manual/processing/modeler_twi.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/processing/3rdParty.rst
  docs/user_manual/processing/img/models.png
  docs/user_manual/processing/intro.rst
  docs/user_manual/processing/modeler.rst
  docs/user_manual/processing/scripts.rst
  docs/user_manual/processing_algs/qgis/modelertools.rst
Labels: backport release_3.28

#8405 Update container's creation and configuration
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Properties, backport release_3.28

#8387 Also display reference videos inside a frame
  docs/user_manual/map_views/elevation_profile.rst
  docs/user_manual/map_views/map_view.rst
Labels: Feedback, Stale, backport release_3.28

#8445 Adjust outputs of the raster terrain analysis algorithms
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
Labels: Processing Alg, backport release_3.28

#8465 Center align the annotation video frame
  docs/user_manual/map_views/map_view.rst
Labels: backport release_3.28

#8470 Update output destination list for vector general algorithms
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg, backport release_3.28

#8472 Add url reference for layout marker item
  docs/user_manual/print_composer/overview_composer.rst
Labels: Print layout / Atlas / Report, backport release_3.28

#8469 Make "convert curved geometries" parameter optional
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Processing Alg

#8476 Update dataplotly screenshots
  docs/training_manual/qgis_plugins/img/dataplotly_boxplot.png
  docs/training_manual/qgis_plugins/img/dataplotly_scatterplot.png
  docs/training_manual/qgis_plugins/img/dataplotly_setup.png
  docs/training_manual/qgis_plugins/img/dataplotly_subplots.png
Labels: Training Manual, Showcase/Screenshots

#8478 Provide more info for the "planimetric measurement" option
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#8464 Browser: mention that GeoPackage features are available for some othe…
  docs/user_manual/introduction/browser.rst
Labels: Browser

#8487 Fix Assign Projection alg description of OUTPUT parameter
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: backport release_3.28

#8480 Various backports to 3.28
  docs/documentation_guidelines/substitutions.rst
  docs/pyqgis_developer_cookbook/geometry.rst
  docs/training_manual/qgis_plugins/img/dataplotly_boxplot.png
  docs/training_manual/qgis_plugins/img/dataplotly_scatterplot.png
  docs/training_manual/qgis_plugins/img/dataplotly_setup.png
  docs/training_manual/qgis_plugins/img/dataplotly_subplots.png
  docs/training_manual/qgis_plugins/img/get_more_plugins.png
  docs/training_manual/qgis_plugins/img/plugin_details.png
  docs/training_manual/qgis_plugins/img/plugin_manager_settings.png
  docs/training_manual/qgis_plugins/img/quickosm_advanced_query.png
  docs/training_manual/qgis_plugins/img/quickosm_result.png
  docs/training_manual/qgis_plugins/img/quickosm_setup.png
  docs/training_manual/qgis_plugins/img/select_processing_plugin.png
  docs/user_manual/introduction/browser.rst
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/modelertools.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  static/common/mActionAddAfsLayer.png
  static/common/mActionAddAmsLayer.png
  static/common/mIconAms.png
  substitutions.txt
Labels: 3.28

#8489 Equal count step added
  docs/training_manual/vector_classification/classification.rst
  static/common/mClassificationEqualCount.png
  substitutions.txt
Labels: backport release_3.28
