Repository qgis/QGIS-Documentation, pull requests merged in 2023-05, with the labels that each got.

#8227 Replace the "easy fix" label with "good first issue"
  .github/CONTRIBUTING.md
  docs/documentation_guidelines/first_contribution.rst
Labels: Guidelines, backport release_3.28

#8246 Indicate time zone offset next to page build time
  conf.py
Labels: backport release_3.28

#8245 Provider clearer way to find tools for attribute table
  docs/training_manual/vector_classification/attribute_data.rst
Labels: Training Manual, backport release_3.28

#8234 Update process for (publishing) translations
  docs/documentation_guidelines/do_translations.rst
  docs/documentation_guidelines/index.rst
Labels: Translation, Guidelines, backport release_3.28

#8109 Miter limit clarification with images.
  docs/user_manual/processing_algs/qgis/img/buffer_miter_limit.png
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, REVIEW REQUESTED, backport release_3.28

#8258 Fix "Visualizing maps" chapter is not generated in PDF
  docs/user_manual/map_views/index.rst
Labels: PDF Docs, backport release_3.28

#8267 Update script to pull optimized translated strings
  .github/workflows/pull_minimized_translations.yml
  scripts/minimize_translation.sh
Labels: Translation, backport release_3.28

#8266 Update Layout legend font properties
  docs/user_manual/print_composer/composer_items/composer_legend.rst
  docs/user_manual/print_composer/composer_items/img/legend_fonts.png
Labels: Print layout / Atlas / Report

#8274 Remove unnecessary and misleading message on toolbars
  docs/user_manual/introduction/qgis_gui.rst
Labels: GUI, backport release_3.28

#8277 📝 corrected postgis function
  docs/training_manual/spatial_databases/spatial_queries.rst
Labels: Training Manual, backport release_3.28

#8280 OTB plugin: remove references to the "Activate" option
  docs/user_manual/processing/3rdParty.rst
Labels: Processing, backport release_3.28

#8272 Temporarily disable automerge to check why PR tests do not start upon opening
  .github/workflows/translation_statistics.yml
Labels: Backend

#8287 macOS asks to overwrite the gpkg upon saving a new layer
  docs/training_manual/vector_analysis/basic_analysis.rst
Labels: Training Manual, backport release_3.28

#7991 Mention GPS visualisation options
  docs/user_manual/introduction/img/options_gps.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_gps/live_GPS_tracking.rst
Labels: GPS, backport release_3.28

#8189 Simplify makefile instructions for PDF outputs
  Makefile
Labels: Backend, PDF Docs, backport release_3.28
