Repository qgis/QGIS-Documentation, pull requests merged in 2023-02, with the labels that each got.

#7966 Remove mention of the GPS plugin
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/processing_algs/qgis/gps.rst
  docs/user_manual/working_with_gps/img/download.png
  docs/user_manual/working_with_gps/img/loadgpx.png
  docs/user_manual/working_with_gps/plugins_gps.rst
Labels: REVIEW REQUESTED, GPS, backport release_3.28

#8007 Add WMTS temporal settings
  docs/user_manual/map_views/map_view.rst
  docs/user_manual/working_with_ogc/img/temporal_properties.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: Web Service, backport release_3.28

#8026 Update anchor to match dialog help URL
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/map_views/map_view.rst
Labels: backport release_3.28

#8027 Use an include for raster data type lists
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, Raster, backport release_3.28

#8031 Swap Indices for Int32 and UInt32 raster data types
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: Processing Alg, Raster, 3.22

#8035 Add missing blank line
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
Labels: Processing Alg, backport release_3.22, backport release_3.28

#8043 Update format_number function
  docs/user_manual/expressions/expression_help/String.rst
Labels: Expressions, backport release_3.28

#8006 Remove outdated WMS client limitations
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: Web Service, backport release_3.28

#8041 Mention the other widgets
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: 3.28

#8008 Describe QGIS Server properties for raster and WM(T)S layers
  docs/user_manual/working_with_ogc/img/server_properties.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Web Service, backport release_3.28

#7958 Restructuring plugin dev docs
  docs/pyqgis_developer_cookbook/plugins/plugins.rst
Labels: backport release_3.28

#8051 Fix WFS -> OAPIF for QGIS_SERVER_API_WFS3_MAX_LIMIT
  docs/server_manual/config.rst
Labels: backport release_3.22, backport release_3.28

#8022 Make the "Crossing 180° longitude line" a section of its own
  docs/user_manual/managing_data_source/supported_data.rst
Labels: Managing Layer/Data, backport release_3.28

#8046 Replace platex with uplatex for japanese PDF build
  Makefile
Labels: build/doctest, backport release_3.22, backport release_3.28

#8050 Move up and raise level of the "Share your plugin" section
  docs/pyqgis_developer_cookbook/plugins/plugins.rst
Labels: backport release_3.28

#8064 Update actions/setup-python for workflows
  .github/workflows/builds.yml
  .github/workflows/doctest.yml
  .github/workflows/pofiles.yml
  .github/workflows/translation_statistics.yml
Labels: build/doctest, 3.22

#8062 [3.22] Update the various scripts to Transifex new API
  .tx/config
  README.md
  REQUIREMENTS.txt
  docs/user_manual/preamble/translation_stats.rst
  locale/en/LC_MESSAGES/docs/server_manual/config.po
  locale/en/LC_MESSAGES/docs/user_manual/preamble/contributors.po
  locale/en/LC_MESSAGES/docs/user_manual/preamble/translation_stats.po
  scripts/create_transifex_resources.sh
  scripts/find_set_subst.py
  scripts/load_tx_stats.py
  scripts/minimize_translation.sh
Labels: Translation, Code, 3.22

#7808 Add embedded layer tree widget
  docs/pyqgis_developer_cookbook/plugins/snippets.rst
Labels: PyQGIS Cookbook, REVIEW REQUESTED, backport release_3.28

#8068 Minor update of wms related screenshots
  docs/user_manual/working_with_ogc/img/connection_wms.png
  docs/user_manual/working_with_ogc/img/server_properties.png
  docs/user_manual/working_with_ogc/img/temporal_properties.png
Labels: Showcase/Screenshots, 3.30

#8072 code samples are failing due to changes in WkbTypes outputs and some geometry calculation method(?)
  docs/pyqgis_developer_cookbook/geometry.rst
  docs/pyqgis_developer_cookbook/network_analysis.rst
Labels: PyQGIS Cookbook, Code, build/doctest

#8070 Remove duplicate instruction
  release_process.md
Labels: Backend, Guidelines, backport release_3.28

#8071 [Processing] "Reproject layer" alg: OPERATION is an advanced parameter
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: backport release_3.28

#8002 No, Marco does not manage PR queue
  docs/developers_guide/git.rst
Labels: Developer Manual, backport release_3.28

#8074 Remove boolean from QgsRubberband creation parameters
  docs/pyqgis_developer_cookbook/network_analysis.rst
Labels: backport release_3.22
