Repository qgis/QGIS-Documentation, pull requests merged in 2023-07, with the labels that each got.

#8357 Add Point cloud profile chart properties
  docs/user_manual/working_with_point_clouds/img/point_cloud_elevation.png
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: Point Clouds, Profile Tool, backport release_3.28

#8356 Explore more 3D properties of point clouds
  docs/user_manual/working_with_point_clouds/img/point_cloud_3d_view.png
  docs/user_manual/working_with_point_clouds/point_clouds.rst
Labels: 3D, Point Clouds, backport release_3.28

#8358 More updates to the Elevation Profile view
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/map_views/elevation_profile.rst
  docs/user_manual/map_views/index.rst
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_point_clouds/point_clouds.rst
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Profile Tool, backport release_3.28

#8383 Update preamble mention Android and iOS.
  docs/user_manual/preamble/foreword.rst
Labels: backport release_3.28

#8385 Add sections to the Processing Options dialog and explain some settings
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/processing/configuration.rst
  docs/user_manual/processing/toolbox.rst
  static/common/menu.png
  substitutions.txt
Labels: Processing, backport release_3.28

#8371 Update Layers panel styling and symbolizing features
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/working_with_point_clouds/point_clouds.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Symbology, backport release_3.28

#8386 [Processing] Adjust details for raster and vector input parameters
  docs/user_manual/processing/img/raster_input.png
  docs/user_manual/processing/img/vector_iterator.png
  docs/user_manual/processing/toolbox.rst
Labels: Processing, backport release_3.28

#8138 Add Line Height unit options
  docs/user_manual/style_library/img/label_background.png
  docs/user_manual/style_library/img/label_buffer.png
  docs/user_manual/style_library/img/label_formatting.png
  docs/user_manual/style_library/img/label_mask.png
  docs/user_manual/style_library/img/label_shadow.png
  docs/user_manual/style_library/img/label_text.png
  docs/user_manual/style_library/img/stylemanager_labelsettings.png
  docs/user_manual/style_library/img/stylemanager_textformat.png
  docs/user_manual/style_library/label_settings.rst
Labels: REVIEW REQUESTED, Labels, backport release_3.28

#8396 Remove unnecessary hyphen
  docs/documentation_guidelines/first_contribution.rst
Labels: Text, Guidelines, backport release_3.28

#8395 Misc algorithm parameters
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Processing Alg

#8394 Add settings to override processing global settings at algorithm level or per input parameter
  docs/user_manual/processing/configuration.rst
  docs/user_manual/processing/img/alg_advancedsettings.png
  docs/user_manual/processing/img/vector_input_parameters.png
  docs/user_manual/processing/toolbox.rst
Labels: Processing

#8389 Setting the color model to use when interpolating a gradient ramp
  docs/user_manual/style_library/img/customColorRampGradient.png
  docs/user_manual/style_library/style_manager.rst
Labels: Style manager, backport release_3.28

#8364 Add layout elevation profile item description
  docs/user_manual/print_composer/composer_items/composer_map3d.rst
  docs/user_manual/print_composer/composer_items/index.rst
  docs/user_manual/print_composer/composer_items/layout_elevation_profile.rst
  docs/user_manual/print_composer/overview_composer.rst
Labels: Print layout / Atlas / Report, Profile Tool

#8378 Snapping and floater options in Advanced digitizing panel
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing

#8400 Add convert to curve in vertex tool section
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/img/vertex_convert_curve.png
Labels: Editing, backport release_3.28
