Repository qgis/QGIS-Documentation, pull requests merged in 2023-01, with the labels that each got.

#7925 Make the visibility scale selector a generic widget instead of focusing only on layers
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/visibilityscale_selector.png
  docs/user_manual/working_with_mesh/mesh_properties.rst
  docs/user_manual/working_with_point_clouds/point_clouds.rst
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/img/simplify_rendering.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Project/Configuration, backport release_3.28

#7867 Removes OGR mention next to GDAL name
  docs/documentation_guidelines/writing.rst
  docs/pyqgis_developer_cookbook/loadlayer.rst
  docs/pyqgis_developer_cookbook/vector.rst
  docs/training_manual/spatial_databases/import_export.rst
  docs/user_manual/grass_integration/grass_integration.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/managing_data_source/supported_data.rst
  docs/user_manual/print_composer/create_output.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  docs/user_manual/working_with_projections/working_with_projections.rst
  docs/user_manual/working_with_vector/attribute_table.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: REVIEW REQUESTED, backport release_3.28

#7924 Predefined scales are used in more than the status bar widget
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.28

#7840 Introduce layer annotations
  docs/documentation_guidelines/substitutions.rst
  docs/training_manual/forestry/stands_digitazing.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/custom_annotation.png
  static/common/mActionCreateAnnotationLayer.png
  static/common/mActionText.png
  static/common/mIconAnnotationLayer.png
  substitutions.txt
Labels: REVIEW REQUESTED, Properties, Tools

#7917 Explain WMS request step size, fixes #1703
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: backport release_3.22, backport release_3.28

#7935 Add is_attribute_valid and is_feature_valid functions
  docs/user_manual/expressions/expression_help/Record_and_Attributes.rst
  docs/user_manual/expressions/functions_list.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Expressions

#7938 Add new parameters for Processing algorithms
  docs/user_manual/processing_algs/qgis/database.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: Processing Alg, backport release_3.28

#7942 Update URL of transifex-github integration page
  README.md
Labels: Translation, backport release_3.28

#7944 Running Validity checks when exporting layout
  docs/pyqgis_developer_cookbook/composer.rst
  docs/user_manual/print_composer/create_output.rst
Labels: PyQGIS Cookbook, Print layout / Atlas / Report, backport release_3.28

#7946 Render layers as a group
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/blending_clipping.png
  docs/user_manual/introduction/img/blending_modes.png
  docs/user_manual/introduction/img/group_opacity.png
  qgis-projects/user_manual/blending_examples.qgs
  qgis-projects/user_manual/blending_examples.qgs.mldata
  qgis-projects/user_manual/effects_examples.qgs
Labels: Symbology, GUI, backport release_3.28

#7945 Update Actions sections
  docs/training_manual/create_vector_data/actions.rst
  docs/training_manual/create_vector_data/img/python_action_example.png
  docs/user_manual/working_with_vector/img/action_dialog.png
  docs/user_manual/working_with_vector/img/add_action_edit.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.28

#7950 Add layout items distribution options
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/print_composer/composer_items/composer_items_options.rst
  static/common/mActionDistributeBottom.png
  static/common/mActionDistributeHCenter.png
  static/common/mActionDistributeHSpace.png
  static/common/mActionDistributeLeft.png
  static/common/mActionDistributeRight.png
  static/common/mActionDistributeTop.png
  static/common/mActionDistributeVCenter.png
  static/common/mActionDistributeVSpace.png
  substitutions.txt
Labels: Print layout / Atlas / Report, backport release_3.28

#7964 Allow display of translated images
  conf.py
  docs/user_manual/auth_system/img/de/auth-config-create_authcfg-id.png
  docs/user_manual/auth_system/img/de/auth-config-create_basic-auth.png
  docs/user_manual/auth_system/img/de/auth-config-create_pem-der-paths.png
  docs/user_manual/auth_system/img/de/auth-config-create_pkcs12-paths.png
  docs/user_manual/auth_system/img/de/auth-config-create_stored-identity2.png
  docs/user_manual/auth_system/img/de/auth-db-erase.png
  docs/user_manual/auth_system/img/de/auth-editor-authorities_utilities-menu.png
  docs/user_manual/auth_system/img/de/auth-editor-configs2.png
  docs/user_manual/auth_system/img/de/auth-http-basic-wms.png
  docs/user_manual/auth_system/img/de/auth-method-listing.png
  docs/user_manual/auth_system/img/de/auth-password-invalid-3times.png
  docs/user_manual/auth_system/img/de/auth-password-new_enter.png
  docs/user_manual/auth_system/img/de/auth-password-reset.png
  docs/user_manual/auth_system/img/de/auth-selector-wms-connection.png
  docs/user_manual/plugins/core_plugins/img/de/metasearch-search.png
  docs/user_manual/plugins/core_plugins/img/de/metasearch-services.png
  docs/user_manual/print_composer/img/de/command_hist.png
  docs/user_manual/processing/img/de/batch_processing_save.png
  docs/user_manual/processing_algs/qgis/img/de/heatmap_loaded_colour.png
  docs/user_manual/processing_algs/qgis/img/de/heatmap_loaded_grey.png
  docs/user_manual/processing_algs/qgis/img/de/heatmap_start.png
  docs/user_manual/working_with_gps/img/de/loadgpx.png
  docs/user_manual/working_with_vector/img/de/relations1.png
Labels: Showcase/Screenshots, Translation, backport release_3.28

#7963 Introduce the Fonts settings tab
  docs/user_manual/introduction/img/options_fonts.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.28

#7974 Add an example to the WFS maxfeatures parameter
  docs/server_manual/services/wfs.rst
Labels: Server, backport release_3.28

#7972 Add sphinx_copybutton extension
  .github/workflows/pofiles.yml
  REQUIREMENTS.txt
  conf.py
Labels: PyQGIS Cookbook, dependencies

#7982 Translate placement pictures of style library to Hungarian
  docs/user_manual/style_library/img/hu/line_label_placement.png
  docs/user_manual/style_library/img/hu/polygon_label_placement.png
Labels: Labels, backport release_3.28

#7973 Updates QGIS GUI chapter
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_vector_tiles/vector_tiles_properties.rst
Labels: GUI, backport release_3.28

#7977 Superscript and subscript HTML tags are also supported
  docs/user_manual/style_library/label_settings.rst
Labels: Labels

#7979 Vertices of a new face can be added with single click
  docs/user_manual/working_with_mesh/mesh_properties.rst
Labels: Mesh, Editing, backport release_3.28

#7984 Update gml file loading in the "Getting started"
  docs/user_manual/introduction/getting_started.rst
  docs/user_manual/introduction/img/addLayerItems.png
  docs/user_manual/introduction/img/add_raster.png
  docs/user_manual/introduction/img/selectFillColor.png
  docs/user_manual/introduction/img/showLabels.png
Labels: Project/Configuration, backport release_3.28

#7969 Explain when the various model input types can be used
  docs/user_manual/processing/modeler.rst
Labels: Graphical modeler, REVIEW REQUESTED, backport release_3.28

#7998 Remember to update requirements for servers
  REQUIREMENTS.txt
Labels: Backend, build/doctest

#8010 Add hyperlink to layer annotation from dedicated algorithm
  docs/user_manual/map_views/map_view.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
Labels: backport release_3.28

#8014 Add the version of xyz directory alg advanced parameters
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, 3.30

#8013 Missing details in XYZ directory algorithm
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, 3.28

#8009 Various fixes to WMS/WMTS Connection dialog
  docs/user_manual/working_with_ogc/img/add_connection_wms.png
  docs/user_manual/working_with_ogc/img/connection_wms.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: User Manual, Web Service, backport release_3.28

#8017 Fix "Rasterize (vector to raster)" docs
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
Labels: Processing Alg, backport release_3.22, backport release_3.28

#8016 Add DPI based options to "Add WMS/WMTS" dialog
  docs/user_manual/working_with_ogc/img/add_connection_wms.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: Web Service
