Repository qgis/QGIS-Documentation, pull requests merged in 2024-09, with the labels that each got.

#9222 Add missing space to display user-agent example
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#9221 Update algorithms in modeler to show their group in title
  docs/user_manual/processing/img/models_parameters4.png
  docs/user_manual/processing/img/models_parameters5.png
Labels: Processing, Graphical modeler, backport release_3.34

#9146 Added duplicate action button documentation
  docs/user_manual/working_with_vector/img/action_dialog.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties

#9227 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9240 fix: We use ReadTheDocs sphinx theme
  docs/training_manual/foreword/foreword.rst
Labels: Training Manual

#9237 fix: Use correct URL for translation process
  conf.py
Labels: Translation, backport release_3.34

#9262 Fix field type list for "Field calculator", "Advanced Python field calculator" and "Add field to attributes table" algs
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: backport release_3.34

#9268 Documentation on Border line style changed from "Pen" to "Line"
  docs/training_manual/basic_map/symbology.rst
Labels: backport release_3.34

#9243 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34
