Repository qgis/QGIS-Documentation, pull requests merged in 2024-03, with the labels that each got.

#8907 Container type Row added to attribute form
  docs/user_manual/working_with_vector/img/attribute_editor_layout.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.34

#8917 Say Bye to 3.28, marking it as outdated
  conf.py
Labels: 3.28

#8918 Make 3.34 the new LTR
  .github/workflows/pofiles.yml
  .github/workflows/pull_minimized_translations.yml
  .github/workflows/translation_statistics.yml
  Makefile
  docker-world.sh
  docs_conf.yml
  release_process.md
  scripts/fix_versions.sh
Labels: 3.34

#8898 Prepare branch for releasing 3.34 as LTR
  .github/workflows/pofiles.yml
  .github/workflows/pull_minimized_translations.yml
  .github/workflows/translation_statistics.yml
  docs_conf.yml
  release_process.md
  scripts/fix_versions.sh
Labels: NOT FOR MERGE!!

#8929 Fix wrong indentation
  docs/user_manual/working_with_mesh/mesh.rst
Labels: Mesh, backport release_3.34

#8928 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#8935 Corrected wrong wording
  docs/user_manual/map_views/3d_map_view.rst
Labels: backport release_3.34

#8937 Typo corrected
  docs/training_manual/complete_analysis/analysis_exercise.rst
Labels: backport release_3.34

#8887 Put Expressions groups table of contents in a collapsible widget
  docs/user_manual/expressions/functions_list.rst
  docs/user_manual/expressions/text_include.rst
Labels: Expressions, backport release_3.34

#8944 Processing scripts: Improve distinction between alg.INT and alg.NUMBER
  docs/user_manual/processing/scripts.rst
Labels: Processing, 3.34

#8943 Consolidate script to pull translations
  scripts/minimize_translation.sh
Labels: Translation, Backend, backport release_3.34

#8873 Update and make translatable the warning on outdated info in IDE debugging chapter
  docs/pyqgis_developer_cookbook/plugins/ide_debugging.rst
  substitutions.txt
Labels: PyQGIS Cookbook, backport release_3.34

#8828 Add "Metal roughness" as shading mode
  docs/user_manual/style_library/3d_symbols.rst
Labels: Symbology, 3D, 3.36

#8950 Typo corrected
  docs/user_manual/print_composer/create_reports.rst
Labels: backport release_3.34

#8959 Fix build error due to attributes moved to qgis enums
  docs/user_manual/processing/scripts.rst
Labels: Processing, build/doctest, 3.38

#8962 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#8964 Add new files and update .gitignore
  .gitignore
Labels: backport release_3.34

#8966 [attribute table] Clarify rows sorting
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: backport release_3.34

#8914 Merge all the lists of Processing parameters into a single one
  docs/user_manual/processing/console.rst
  docs/user_manual/processing/index.rst
  docs/user_manual/processing/modeler.rst
  docs/user_manual/processing/parameters.rst
  docs/user_manual/processing/scripts.rst
Labels: Processing, backport release_3.34

#8976 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34
