Repository qgis/QGIS-Documentation, pull requests merged in 2024-08, with the labels that each got.

#9178 Describe behavior of user-agent
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#9186 Switch Terrain into Elevation properties
  docs/user_manual/introduction/img/project_elevation.png
  docs/user_manual/introduction/img/project_terrain.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#9108 Add more options to the Export to DXF dialog
  docs/user_manual/managing_data_source/create_layers.rst
  docs/user_manual/managing_data_source/img/export_dxf.png
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
Labels: Managing Layer/Data

#9177 Fix docs HTML build
  REQUIREMENTS.txt
  conf.py
  docs/pyqgis_developer_cookbook/vector.rst
Labels: build/doctest, backport release_3.34

#9195 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9213 Fix references to processing classes moved to core
  docs/user_manual/processing/parameters.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: build/doctest

#9205 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9217 Algorithm dialog - group name - UserManual
  docs/user_manual/processing/img/algdialoglog.png
  docs/user_manual/processing/img/parameters_dialog.png
  docs/user_manual/processing/toolbox.rst
Labels: Processing, 3.34
