Repository qgis/QGIS-Documentation, pull requests merged in 2024-10, with the labels that each got.

#9283 Update statistics of translation
  REQUIREMENTS.txt
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9296 Remove "trademarked" word
  docs/server_manual/services/wms.rst
  docs/user_manual/map_views/map_view.rst
  docs/user_manual/print_composer/create_output.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.34

#9305 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9276 GeoPackage - Field domain added to Browser
  docs/user_manual/introduction/browser.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.34

#9312 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9310 One liner command for URL in browser
  docs/server_manual/getting_started.rst
Labels: Server, backport release_3.34

#9321 Fix actions badges
  README.md
Labels: Backend

#9320 Update instructions for releasing a new docs version
  release_process.md
Labels: Backend

#9329 Clarify when the new branch is created and its updates
  release_process.md
Labels: Backend, backport release_3.40

#9322 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34
