Repository qgis/QGIS-Documentation, pull requests merged in 2024-12, with the labels that each got.

#9440 Update geometry.rst
  docs/training_manual/spatial_databases/geometry.rst
Labels: Training Manual, backport release_3.40

#9439 Update geometry.rst
  docs/training_manual/spatial_databases/geometry.rst
Labels: Training Manual, backport release_3.40

#9441 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34, backport release_3.40

#9385 Tolerance for lines and polygons - elevation profile
  docs/user_manual/map_views/elevation_profile.rst
Labels: Profile Tool, backport release_3.40

#9449 Remove obsolete description
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
Labels: Processing Alg, backport release_3.40

#9465 Fix import in the Processing provider example
  docs/pyqgis_developer_cookbook/processing.rst
Labels: PyQGIS Cookbook, backport release_3.34, python, backport release_3.40

#9458 Remove Optional flag from algs' Boolean parameters
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, backport release_3.40

#9471 Add Python annotations and remove args kwargs from Python methods
  docs/pyqgis_developer_cookbook/processing.rst
Labels: backport release_3.34, backport release_3.40

#9448 Add makevalid parameter to GDAL "Export to PostgreSQL" algorithms
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
Labels: backport release_3.40

#9462 Tolerance support for pixel values
  docs/user_manual/working_with_raster/img/tolerances_for_pixel_values.gif
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: backport release_3.40

#9482 Fix references to substitution
  docs/index.rst
  docs/user_manual/grass_integration/grass_integration.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/preamble/contributors.rst
  docs/user_manual/working_with_raster/raster_properties.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.40

#9477 Restructure html label section and add word-spacing
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, backport release_3.40

#9452 Update the layout fixed table item properties
  docs/user_manual/print_composer/composer_items/composer_tables.rst
Labels: Print layout / Atlas / Report, backport release_3.40

#9478 Add custom expression for numbers formatting
  docs/user_manual/introduction/general_tools.rst
Labels: Tools, backport release_3.40

#9484 Describe labeling placement rules
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/working_with_vector/img/label_menu_text.png
  docs/user_manual/working_with_vector/img/labelplacementrules.gif
  docs/user_manual/working_with_vector/vector_properties.rst
  static/common/mIconLabelingRules.png
  substitutions.txt
Labels: Labels, Properties, backport release_3.40

#9446 Field types
  docs/user_manual/processing_algs/algs_include.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg, backport release_3.40

#9488 Add some more HTML tags and CSS properties for labels
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, backport release_3.40

#9503 Add Tab distance and stops
  docs/user_manual/style_library/img/label_formatting.png
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, 3.42

#9498 Add linear referencing symbol layer type
  docs/user_manual/style_library/img/linearReferencingSymbol.png
  docs/user_manual/style_library/symbol_selector.rst
Labels: Style manager, backport release_3.40

#9506 Mention first_value and last_value functions in Aggregate algorithm
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, backport release_3.40

#9502 Some more CSS properties for HTML-enabled labels
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, 3.42

#9510 Mention that angle are concerned by Ellipsoid selection
  docs/user_manual/introduction/qgis_configuration.rst
Labels: backport release_3.40

#9492 Improve QML widget description and usage
  docs/user_manual/working_with_vector/img/qml_widget_dialog.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties, backport release_3.40
