Repository qgis/QGIS-Documentation, pull requests merged in 2024-11, with the labels that each got.

#9341 Remove language from QGIS Website url
  themes/rtd_qgis/versions.html
Labels: backport release_3.34, backport release_3.40

#9338 Add/Update vector information algorithms
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
Labels: Processing Alg, backport release_3.40

#9335 Updates a few algorithms
  docs/user_manual/processing/parameters.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
Labels: Processing Alg, backport release_3.40

#9347 vector properties: add WFS title server properties (fixes #9290)
  docs/user_manual/working_with_vector/img/vector_server_properties.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Web Service, backport release_3.40

#9350 Fix typo
  docs/user_manual/managing_data_source/opening_data.rst
Labels: backport release_3.34, backport release_3.40

#9349 Also update docs URL in the new branch's Readme
  release_process.md
Labels: Backend, backport release_3.40

#9339 No geometry validity checks for some algorithms
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, backport release_3.40

#9336 Add Vector coverage algorithms
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/vectorcoverage.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, backport release_3.40

#9361 Fix docker run name for 3.40
  docker-run.sh
Labels: Backend, 3.40

#9317 Cloud connection - Browser
  docs/user_manual/introduction/browser.rst
  docs/user_manual/introduction/img/browser_panel.png
  docs/user_manual/managing_data_source/img/cloud_connection.png
  docs/user_manual/managing_data_source/opening_data.rst
  static/common/mIconCloud.png
  substitutions.txt
Labels: Managing Layer/Data, Browser, backport release_3.40

#9360 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34, backport release_3.40

#9340 Vector tiles load from style URL
  docs/user_manual/managing_data_source/img/vector_tiles_configuration.png
  docs/user_manual/managing_data_source/img/vector_tiles_maptilerplanet.png
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, Vector Tiles, backport release_3.40

#9367 Homogenize Python version in use across github workflows
  .github/workflows/builds.yml
  .github/workflows/doctest.yml
  .github/workflows/pofiles.yml
  .github/workflows/translation_statistics.yml
Labels: backport release_3.40

#9300 developers_guide/git.rst: add a 'Pull Requests merge criteria' section
  docs/developers_guide/git.rst
Labels: backport release_3.40

#9386 Autosize all columns by default
  docs/user_manual/introduction/img/options_data_sources.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: backport release_3.40

#9369 Clarify settings to use in matrix distance dialog
  docs/training_manual/vector_analysis/spatial_statistics.rst
Labels: Training Manual, backport release_3.40

#9380 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34, backport release_3.40

#9392 "buffer" alg: Do not direct to deprecated "Variable distance buffer" algorithm
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg, backport release_3.40

#9393 Detail Offset curve tool options
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.40

#9382 Add additional Offset Curve Documentation
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Vector, Properties, backport release_3.40

#9403 update spatial_queries.rst - Wrong fieldnames in queries related to 'region', 'road' and 'building' tables.
  docs/training_manual/spatial_databases/spatial_queries.rst
Labels: Training Manual, backport release_3.34, backport release_3.40

#9309 Stacked diagrams documentation
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/working_with_vector/img/population_pyramids.png
  docs/user_manual/working_with_vector/vector_properties.rst
  static/common/stacked-diagram.png
  substitutions.txt
Labels: backport release_3.40

#9315 Credential options for OGR vector and GDAL raster
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, backport release_3.40

#9323 Base docker build commands on their target docs version
  cronjob.sh
  docker-run.sh
  docker-world.sh
  release_process.md
Labels: Backend, backport release_3.40

#9410 Base docker build commands on their target docs version
  cronjob.sh
  docker-run.sh
  docker-world.sh
  release_process.md
Labels: Backend, 3.40

#9418 Reach format_date function from to_date/datetime/time functions
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions, backport release_3.40

#9417 Replace "the_geom" with "geom" in PostGIS lessons
  docs/training_manual/spatial_databases/geometry.rst
  docs/training_manual/spatial_databases/simple_feature_model.rst
  docs/training_manual/spatial_databases/spatial_queries.rst
  docs/user_manual/managing_data_source/supported_data.rst
Labels: backport release_3.34, backport release_3.40

#9402 Update georeferencer.rst
  docs/user_manual/working_with_raster/georeferencer.rst
Labels: backport release_3.40

#9424 Fix references to month/year in example attributes
  docs/gentle_gis_introduction/vector_attribute_data.rst
Labels: backport release_3.34, backport release_3.40

#9427 Update geometry.rst
  docs/training_manual/spatial_databases/geometry.rst
Labels: backport release_3.40

#9256 Attempt to fix doctests by using airports layer in epsg4326 instead of epsg2964.
  docs/pyqgis_developer_cookbook/canvas.rst
  docs/pyqgis_developer_cookbook/cheat_sheet.rst
  docs/pyqgis_developer_cookbook/expressions.rst
  docs/pyqgis_developer_cookbook/loadlayer.rst
  docs/pyqgis_developer_cookbook/vector.rst
Labels: build/doctest, backport release_3.40

#9433 Use correct container for 3.40
  doctest.dockerfile
Labels: build/doctest, 3.40

#9435 Update formatting of the Docker container to pull from
  release_process.md
Labels: Backend, backport release_3.34, backport release_3.40

#9429 Add sub level item in QuickOSM lesson
  docs/training_manual/qgis_plugins/plugin_examples.rst
Labels: Training Manual, backport release_3.40

#9397 Adapt developer guides with pre-commit use
  docs/developers_guide/git.rst
Labels: Developer Manual
