Repository qgis/QGIS-Documentation, pull requests merged in 2024-04, with the labels that each got.

#8994 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#8969 Widget stretch
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.34

#9004 [Backport 3.34] Update actions dependencies
  .github/workflows/builds.yml
  .github/workflows/doctest.yml
  .github/workflows/pofiles.yml
  .github/workflows/pull_minimized_translations.yml
  .github/workflows/translation_statistics.yml
Labels: dependencies, 3.34

#9011 Fixed Interval added to graduated render
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.34

#9005 Detail how to be able to fill options for input layers in the "raster aligns" algorithm
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, backport release_3.34

#9015 Use proper print composer image at first display
  docs/training_manual/map_composer/img/print_composer_dialog.png
Labels: Training Manual, backport release_3.34

#9022 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9026 Add Toggle advanced mode to batch interface
  docs/user_manual/processing/batch.rst
Labels: Processing, backport release_3.34

#9025 Various updates to vector attribute table contents
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: Vector, backport release_3.34

#9021 Explaining how to create and edit virtual fields
  docs/user_manual/working_with_vector/attribute_table.rst
Labels: Vector, Editing, backport release_3.34

#9042 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9044 Mesh Label properties
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/style_library/label_settings.rst
  docs/user_manual/working_with_mesh/img/mesh_label_example.png
  docs/user_manual/working_with_mesh/img/mesh_label_properties.png
  docs/user_manual/working_with_mesh/mesh.rst
Labels: Labels, Mesh

#9039 Add expressions to select features based on spatial relationship with another layer
  docs/user_manual/expressions/expression.rst
Labels: Expressions, backport release_3.34

#9038 Explore the export options of the profile tool
  docs/user_manual/map_views/elevation_profile.rst
Labels: Profile Tool

#9043 Delete exercice levels in the preparing data chapter
  docs/training_manual/appendix/preparing_data.rst
Labels: Training Manual, backport release_3.34

#9048 Add scrollbar to left menu and ensure the search top frame is always visible
  themes/rtd_qgis/static/css/qgis_docs.css
Labels: Backend, backport release_3.34

#9041 [TM] Adjust contributing instructions
  docs/training_manual/appendix/contribute.rst
  docs/training_manual/basic_map/mapviewnavigation.rst
  docs/training_manual/databases/db_manager.rst
  docs/training_manual/processing/log.rst
Labels: Training Manual, backport release_3.34

#9056 Update actions.rst
  docs/training_manual/create_vector_data/actions.rst
Labels: Training Manual, Vector, backport release_3.34

#9049 Replace "No pen" with "No Line" for symbol stroke style
  docs/training_manual/basic_map/img/new_fill_settings.png
  docs/training_manual/basic_map/img/scale_dependent_visibility.png
  docs/training_manual/basic_map/img/simple_fill_selected.png
  docs/training_manual/basic_map/img/symbol_levels_main_dialog.png
  docs/training_manual/basic_map/symbology.rst
Labels: Training Manual, backport release_3.34

#9040 Add unit properties of layout elevation profile item
  docs/user_manual/print_composer/composer_items/layout_elevation_profile.rst
Labels: Print layout / Atlas / Report, Profile Tool, backport release_3.34

#9020 Remove Shape digitizing menus from the main Edit menu
  docs/user_manual/introduction/qgis_gui.rst
Labels: Editing, GUI, backport release_3.34

#9057 Update vector_properties.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties, backport release_3.34

#9063 Corrected typo
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: backport release_3.34
