Repository qgis/QGIS-Documentation, pull requests merged in 2024-01, with the labels that each got.

#8719 Describe snapping modes
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  static/common/mIconSnappingArea.png
  static/common/mIconSnappingCentroid.png
  static/common/mIconSnappingEndpoint.png
  static/common/mIconSnappingMiddle.png
  static/common/mIconSnappingSegment.png
  static/common/mIconSnappingVertex.png
  substitutions.txt
Labels: Editing, backport release_3.34

#8725 Update Create grid algorithm output details and example
  docs/user_manual/processing_algs/qgis/img/create_grid.png
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
Labels: Processing Alg, backport release_3.34

#8756 Use text format capabilities for layout map grid text
  docs/user_manual/print_composer/composer_items/composer_map.rst
Labels: Print layout / Atlas / Report, backport release_3.34

#8766 Update authentication.rst
  docs/pyqgis_developer_cookbook/authentication.rst
Labels: Authentication, backport release_3.28, backport release_3.34

#8762 Update vector symbol layer properties output
  docs/pyqgis_developer_cookbook/vector.rst
Labels: bug, build/doctest

#8726 Update instructions with a more recent GIMP version
  docs/training_manual/forestry/img/gimp_map.png
  docs/training_manual/forestry/img/saving_green_px.png
  docs/training_manual/forestry/stands_digitizing.rst
Labels: Training Manual, backport release_3.34

#8738 Various improvements to balloon annotations
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/map_views/map_view.rst
  static/common/mActionAnnotation.png
  substitutions.txt
Labels: backport release_3.34

#8741 Move up the annotation layer properties section
  docs/user_manual/map_views/map_view.rst
Labels: backport release_3.34

#8733 Default values can be set for alg parameters in INI file
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/processing/toolbox.rst
Labels: Processing, backport release_3.34

#8740 Update feature annotations properties
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/map_views/map_view.rst
  static/common/mActionTextAlongLine.png
  substitutions.txt
Labels: backport release_3.34

#8750 Remove major references to OrfeoToolBox as a Core plugin
  docs/user_manual/plugins/core_plugins/index.rst
  docs/user_manual/processing/3rdParty.rst
  docs/user_manual/processing_algs/index.rst
  docs/user_manual/processing_algs/otb.rst
Labels: Processing

#8785 export LC_ALL variable to C.UTF-8 in Makefile
  Makefile
Labels: Backend, build/doctest, backport release_3.28, backport release_3.34

#8755 [GPS] 5 - Simplify TOC for GPS devices connection examples
  docs/user_manual/working_with_gps/live_GPS_tracking.rst
Labels: GPS, backport release_3.34

#8761 Limit 3D scene extent in 2D and display it
  docs/user_manual/map_views/3d_map_view.rst
  docs/user_manual/map_views/img/3dmapconfiguration.png
  docs/user_manual/map_views/img/3dmapconfiguration_camera.png
  docs/user_manual/map_views/img/3dmapconfiguration_general.png
  docs/user_manual/map_views/img/3dmapconfiguration_lights.png
  docs/user_manual/map_views/img/3dmapconfiguration_terrain.png
Labels: 3D, backport release_3.34

#8781 Add skip-loading-plugins to qgis_process
  docs/user_manual/processing/standalone.rst
Labels: Processing, 3.36

#8763 Add shortcut to set 3D extent on map canvas
  docs/user_manual/map_views/3d_map_view.rst
Labels: 3D, 3.36

#8751 [GPS] 1 - Detail the GPS toolbar functions and live tracking operation
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/working_with_gps/live_GPS_tracking.rst
  static/common/mActionAddTrackPoint.png
  static/common/mActionRecenter.png
  static/common/mActionReset.png
  static/common/mIconGpsConnect.png
  static/common/mIconGpsDestinationLayer.png
  static/common/mIconGpsDisconnect.png
  substitutions.txt
Labels: GPS, backport release_3.34

#8752 [GPS] 2 - Update the GPS Information panel
  docs/user_manual/working_with_gps/img/gpstrack_main.png
  docs/user_manual/working_with_gps/live_GPS_tracking.rst
Labels: GPS, backport release_3.34

#8806 Cleanup of gps icons
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/managing_data_source/create_layers.rst
  static/common/create_gpx.png
  static/common/gps_importer.png
  static/common/mActionNewGpx.png
  substitutions.txt
Labels: GPS, backport release_3.34

#8810 Update working_with_projections.rst
  docs/user_manual/working_with_projections/working_with_projections.rst
Labels: backport release_3.34

#8748 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.28, backport release_3.34

#8814 Metadata screenshot update
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/metadata_save_options.png
Labels: backport release_3.34

#8720 Documenting the raster calculator algorithms
  docs/user_manual/processing/toolbox.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/working_with_raster/img/raster_calculator_expression.png
  docs/user_manual/working_with_raster/raster_analysis.rst
Labels: Processing Alg, Raster, backport release_3.34
