Repository qgis/QGIS-Documentation, pull requests merged in 2024-07, with the labels that each got.

#9136 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9162 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9152 Fixing doctests in gh workflow
  .gitignore
  Makefile
  docs/pyqgis_developer_cookbook/canvas.rst
  docs/pyqgis_developer_cookbook/crs.rst
  docs/pyqgis_developer_cookbook/expressions.rst
  docs/pyqgis_developer_cookbook/geometry.rst
  docs/pyqgis_developer_cookbook/loadlayer.rst
  docs/pyqgis_developer_cookbook/raster.rst
  docs/pyqgis_developer_cookbook/vector.rst
  doctest.dockerfile
Labels: Backend, build/doctest

#9169 Add more expression variables
  docs/user_manual/expressions/functions_list.rst
Labels: Expressions

#9140 Add masking training
  docs/training_manual/basic_map/img/label_masking.png
  docs/training_manual/basic_map/img/mask_hierarchy.png
  docs/training_manual/basic_map/img/mask_selection.png
  docs/training_manual/basic_map/img/plane_symbology.png
  docs/training_manual/basic_map/img/point_masking.png
  docs/training_manual/basic_map/img/points_masking.png
  docs/training_manual/basic_map/symbology.rst
Labels: Training Manual, squash!

#9173 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34
