Repository qgis/QGIS-Documentation, pull requests merged in 2025-07, with the labels that each got.

#10003 Fix Network analysis doctest broken build
  docs/pyqgis_developer_cookbook/network_analysis.rst
Labels: Code, build/doctest, python

#9999 Double-click opens layout fixed table editor dialog
  docs/user_manual/print_composer/composer_items/composer_tables.rst
Labels: Print layout / Atlas / Report, 3.42

#9995 Reorganize measurements, coordinate and bearing units properties
  docs/user_manual/introduction/img/options_map_tools.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration

#10006 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#10030 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#10044 Fix (again) broken dijkstra sample code
  docs/pyqgis_developer_cookbook/network_analysis.rst
Labels: build/doctest

#10043 Update the creating a new shapefile layer dialog
  docs/user_manual/managing_data_source/create_layers.rst
  docs/user_manual/managing_data_source/img/editNewGeoPackage.png
  docs/user_manual/managing_data_source/img/editNewSpatialite.png
  docs/user_manual/managing_data_source/img/editNewTemporaryLayer.png
  docs/user_manual/managing_data_source/img/editNewVector.png
Labels: backport release_3.40

#9989 Introduce API contextual help for Python code editors
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/expressions/expression.rst
  docs/user_manual/introduction/general_tools.rst
  docs/user_manual/introduction/img/api_docs.png
  docs/user_manual/introduction/img/network_logger.png
  docs/user_manual/introduction/img/options_pythonconsole.png
  docs/user_manual/introduction/img/profiler.png
  docs/user_manual/introduction/img/query_logger.png
  docs/user_manual/introduction/qgis_configuration.rst
  static/common/mIconQt.png
  substitutions.txt
Labels: Project/Configuration, Expressions, python

#10064 Detail more options in the MS SQL connection dialog
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, backport release_3.40

#10076 Add various details to Processing algorithms
  docs/user_manual/processing_algs/qgis/database.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg

#10075 Move information on the singlepart point feature's bounding box to the right algorithm
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
Labels: Processing Alg

#10085 Mention how to keep units synced with project CRS unit
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, 3.40

#10083 Add "Fill sinks (Wang & Liu)" Processing algorithm
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
Labels: Processing Alg

#10095 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40
