Repository qgis/QGIS-Documentation, pull requests merged in 2025-08, with the labels that each got.

#10113 Add Swedish to candidates for docs builds
  Makefile
  docker-world.sh
  docs_conf.yml
Labels: Translation

#10114 Allow to build documentation in Swedish
  Makefile
  docker-world.sh
  docs_conf.yml
Labels: Translation, 3.40

#10111 Clarify how the translation process works
  README.md
Labels: Translation, Documentation, backport release_3.40

#10121 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#10062 loadlayers: add information to build relations from gpkg
  docs/pyqgis_developer_cookbook/loadlayer.rst
Labels: PyQGIS Cookbook, backport release_3.40

#10137 Move up to parent folder in order to catch sphinx.po files for Transifex
  transifex.yml
Labels: Translation

#10160 New localized screenhots (nl)
  docs/user_manual/expressions/img/nl/customFunction.png
  docs/user_manual/expressions/img/nl/function_editor.png
  docs/user_manual/expressions/img/nl/function_list.png
  docs/user_manual/introduction/img/nl/adjust_scaling.png
  docs/user_manual/introduction/img/nl/color_ramp_brewer.png
  docs/user_manual/introduction/img/nl/color_selector_ramp.png
  docs/user_manual/introduction/img/nl/color_selector_recent_colors.png
  docs/user_manual/introduction/img/nl/extent_selector.png
  docs/user_manual/introduction/img/nl/fontselector_widget.png
  docs/user_manual/introduction/img/nl/identify_features.png
  docs/user_manual/introduction/img/nl/layer_notes.png
  docs/user_manual/introduction/img/nl/metadata_save_options.png
  docs/user_manual/introduction/img/nl/number_formatting.png
  docs/user_manual/introduction/img/nl/project_variables.png
  docs/user_manual/introduction/img/nl/quick_color_selector.png
  docs/user_manual/introduction/img/nl/quick_colorramp_selector.png
  docs/user_manual/introduction/img/nl/select_by_value.png
  docs/user_manual/introduction/img/nl/style_combobox.png
  docs/user_manual/introduction/img/nl/varying_size_assistant.png
  docs/user_manual/introduction/img/nl/visibilityscale_selector.png
  docs/user_manual/processing_algs/qgis/img/nl/densify_geometry_interval.png
  docs/user_manual/style_library/img/nl/cpt-cityColorRamps.png
  docs/user_manual/style_library/img/nl/createLegendPatchShape.png
  docs/user_manual/style_library/img/nl/create_smartgroup.png
  docs/user_manual/style_library/img/nl/customColorRampGradient.png
  docs/user_manual/style_library/img/nl/export_styles.png
  docs/user_manual/style_library/img/nl/import_styles.png
  docs/user_manual/style_library/img/nl/label_background.png
  docs/user_manual/style_library/img/nl/label_buffer.png
  docs/user_manual/style_library/img/nl/label_formatting.png
  docs/user_manual/style_library/img/nl/label_shadow.png
  docs/user_manual/style_library/img/nl/label_text.png
  docs/user_manual/style_library/img/nl/linearReferencingSymbol.png
  docs/user_manual/style_library/img/nl/open_style_file.png
  docs/user_manual/style_library/img/nl/pointPatternAlignment.png
  docs/user_manual/style_library/img/nl/radial_symbols.png
  docs/user_manual/style_library/img/nl/radial_symbols_datadefined.png
  docs/user_manual/style_library/img/nl/safeLegendPatchShape.png
  docs/user_manual/style_library/img/nl/simpleLineSymbol.png
  docs/user_manual/style_library/img/nl/simpleMarkerSymbol.png
  docs/user_manual/style_library/img/nl/stylemanager.png
  docs/user_manual/style_library/img/nl/stylemanager_labelsettings.png
  docs/user_manual/style_library/img/nl/stylemanager_textformat.png
  docs/user_manual/style_library/img/nl/symbolselector.png
Labels: backport release_3.40

#10166 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#10112 Add documentation for check and fix: Dangle-end Lines
  docs/user_manual/processing_algs/qgis/checkgeometry.rst
  docs/user_manual/processing_algs/qgis/fixgeometry.rst
  docs/user_manual/processing_algs/qgis/img/check_geometry_dangleendlines.png
Labels: Processing Alg

#10182 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40
