Repository qgis/QGIS-Documentation, pull requests merged in 2025-05, with the labels that each got.

#9822 [Processing] Harmonize GDAL creation options parameter naming
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
Labels: Processing Alg, 3.44

#9826 Stop mentioning the PostgreSQL connection section as reference for other databases
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, backport release_3.40

#9823 Add schema restriction option in Oracle DB connection
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, backport release_3.40

#9824 Add schema restriction option in PostgreSQL connection
  docs/user_manual/managing_data_source/img/newpostgisconnection.png
  docs/user_manual/managing_data_source/opening_data.rst
Labels: Managing Layer/Data, 3.44

#9833 Add precision to algorithms' geometry and number parameter types
  docs/documentation_guidelines/writing.rst
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/layertools.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
  docs/user_manual/processing_algs/qgis/modelertools.rst
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/plots.rst
  docs/user_manual/processing_algs/qgis/pointcloudconversion.rst
  docs/user_manual/processing_algs/qgis/pointclouddatamanagement.rst
  docs/user_manual/processing_algs/qgis/pointcloudextraction.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcoverage.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/processing_algs/qgis/vectortiles.rst
Labels: 3.40

#9829 Label settings - note on data-defined label rotation and description of upside-down labels
  docs/user_manual/style_library/img/show_upside-down_labels.png
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, backport release_3.40

#9827 Add layout legend word wrapping properties
  docs/user_manual/print_composer/composer_items/composer_legend.rst
  docs/user_manual/print_composer/composer_items/img/legend_mainproperties.png
  docs/user_manual/print_composer/composer_items/img/legend_properties.png
  docs/user_manual/print_composer/composer_items/img/legend_wordwrapping.png
Labels: Print layout / Atlas / Report, 3.44

#9821 Harmonize the parameters default value when not set, using label in GUI
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
Labels: Processing Alg, backport release_3.40

#9845 Fix superfluous brackets
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
Labels: backport release_3.40

#9863 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9868 Fix concave hull function description
  docs/user_manual/expressions/expression_help/GeometryGroup.rst
Labels: Expressions, backport release_3.40

#9870 Update some more numerical parameters label
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
Labels: Processing Alg, backport release_3.40

#9862 Update the step-by-step contribution guide
  docs/documentation_guidelines/first_contribution.rst
  docs/documentation_guidelines/writing.rst
Labels: Guidelines, backport release_3.40

#9879 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9882 Fix ".. only:: html" role misalignment breaking PDF build
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: bug, PDF Docs, build/doctest, backport release_3.40

#9883 Harmonize casing for PDF Document file name
  conf.py
Labels: PDF Docs, backport release_3.40

#9888 Update config file to have references match 3.40 source files
  .tx/config
Labels: Translation, 3.40

#9889 Allow to build documentation in Polish
  Makefile
  docker-world.sh
  docs_conf.yml
Labels: Translation, 3.40

#9891 Fix typo
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
Labels: Processing Alg, backport release_3.40

#9859 Update Options --> Python settings dialog
  docs/user_manual/introduction/img/options_pythonconsole.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/introduction/qgis_gui.rst
Labels: Project/Configuration, backport release_3.40

#9858 Explain scale calculation methods in project properties
  docs/user_manual/introduction/img/project_general.png
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/print_composer/composer_items/composer_scale_bar.rst
Labels: 3.44

#9896 Remove copy of transifexrc file in build dir in order to build docs with docker
  docker-run.sh
  docker-world.sh
Labels: Backend, build/doctest

#9856 [Processing] Update the output parameter widget options
  docs/user_manual/processing/configuration.rst
  docs/user_manual/processing/toolbox.rst
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/3dtiles.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/filetools.rst
  docs/user_manual/processing_algs/qgis/gps.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/layertools.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
  docs/user_manual/processing_algs/qgis/metadatatools.rst
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/plots.rst
  docs/user_manual/processing_algs/qgis/pointcloudconversion.rst
  docs/user_manual/processing_algs/qgis/pointclouddatamanagement.rst
  docs/user_manual/processing_algs/qgis/pointcloudextraction.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcoverage.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/processing_algs/qgis/vectortiles.rst
Labels: Processing, backport release_3.40

#9900 Update docker-world.sh
  docker-world.sh
Labels: Backend, 3.40

#9897 3d debug widget
  docs/user_manual/map_views/3d_map_view.rst
  docs/user_manual/map_views/img/3dmapconfiguration_advanced.png
Labels: 3D
