Repository qgis/QGIS-Documentation, pull requests merged in 2025-04, with the labels that each got.

#9757 Backports dependencies updates
  .github/workflows/builds.yml
  .github/workflows/doctest.yml
  .github/workflows/pofiles.yml
  .github/workflows/translation_statistics.yml
Labels: 3.40

#9742 Add "maximum point distance from network" parameter
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
Labels: Processing Alg, backport release_3.40

#9760 Plots - advanced parameters
  docs/user_manual/processing_algs/qgis/plots.rst
Labels: Processing Alg, 3.42

#9763 Update screenshot Gentle introduction
  docs/gentle_gis_introduction/img/menus.png
Labels: Gentle GIS introduction, backport release_3.40

#9724 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9744 Added one period at end sentence. Update symbol_selector.rst
  docs/user_manual/style_library/symbol_selector.rst
Labels: backport release_3.40

#9769 Add the "Run selected steps" and "Run from here" options
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/processing/modeler.rst
  static/common/mActionRunSelected.png
  substitutions.txt
Labels: Processing, backport release_3.40

#9777 typo fix
  docs/documentation_guidelines/writing.rst
Labels: backport release_3.40

#9781 Add session role parameter to PG connection dialog
  docs/user_manual/managing_data_source/img/newpostgisconnection.png
  docs/user_manual/managing_data_source/opening_data.rst
Labels: 3.40

#9780 Update Postgres connection dialog options
  docs/user_manual/managing_data_source/img/newpostgisconnection.png
  docs/user_manual/managing_data_source/opening_data.rst
Labels: 3.42

#9127 SensorThings new section
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/browser.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/working_with_ogc/img/sensorThings_connection.png
  docs/user_manual/working_with_ogc/img/sensorthings-plotly-airquality.png
  docs/user_manual/working_with_ogc/img/sta_uml_diagram.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  static/common/mActionAddSensorThingsLayer.png
  substitutions.txt
Labels: REVIEW REQUESTED, Size 5, backport release_3.40

#9785 [TM] Update Toolbox dialog with more default and recent items
  docs/training_manual/processing/img/set_up/toolbox.png
Labels: Training Manual, backport release_3.40

#9783 Introduce SensorThings data provider
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/browser.rst
  docs/user_manual/managing_data_source/opening_data.rst
  docs/user_manual/working_with_ogc/img/sensorThings_connection.png
  docs/user_manual/working_with_ogc/img/sensorthings-plotly-airquality.png
  docs/user_manual/working_with_ogc/img/sta_uml_diagram.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
  substitutions.txt
Labels: 3.40

#9790 Add more specified steps for set snapping options
  docs/training_manual/create_vector_data/topo_editing.rst
Labels: Training Manual, backport release_3.40

#9787 Add data frame delimiter properties to sensor
  docs/user_manual/introduction/img/project_sensors_configuration.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: backport release_3.40, Sensors

#9775 [Modeler] Add "View log" and "View output layers" options
  docs/user_manual/processing/img/cannot_delete_alg.png
  docs/user_manual/processing/img/deactivated.png
  docs/user_manual/processing/img/modeler_right_click.png
  docs/user_manual/processing/modeler.rst
Labels: Processing, backport release_3.40

#9798 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9759 Georeferencer updates
  docs/user_manual/introduction/qgis_configuration.rst
  docs/user_manual/working_with_raster/georeferencer.rst
  docs/user_manual/working_with_raster/img/transformation_settings.png
  docs/user_manual/working_with_raster/img/vector_georeferencer_dialog.png
Labels: georeferencer

#9779 Adds WMTS tile matrices configuration
  docs/server_manual/getting_started.rst
  docs/server_manual/img/ows_server_wmts.png
Labels: Server, backport release_3.40

#9803 Improve the raster maptip screenshot and add expressions
  docs/user_manual/working_with_raster/img/rasterDisplay.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Raster, Properties, backport release_3.40

#9817 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9789 Add labels properties to raster layer
  docs/user_manual/style_library/label_settings.rst
  docs/user_manual/working_with_raster/img/pixels_labeled.png
  docs/user_manual/working_with_raster/img/rasterLabels.png
  docs/user_manual/working_with_raster/raster_properties.rst
Labels: Labels, Raster, 3.42

#9828 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9804 Add precision to algorithms' geometry and number parameter types
  docs/documentation_guidelines/writing.rst
  docs/user_manual/processing_algs/gdal/rasteranalysis.rst
  docs/user_manual/processing_algs/gdal/rasterconversion.rst
  docs/user_manual/processing_algs/gdal/rasterextraction.rst
  docs/user_manual/processing_algs/gdal/rastermiscellaneous.rst
  docs/user_manual/processing_algs/gdal/rasterprojections.rst
  docs/user_manual/processing_algs/gdal/vectorconversion.rst
  docs/user_manual/processing_algs/gdal/vectorgeoprocessing.rst
  docs/user_manual/processing_algs/gdal/vectormiscellaneous.rst
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/interpolation.rst
  docs/user_manual/processing_algs/qgis/layertools.rst
  docs/user_manual/processing_algs/qgis/mesh.rst
  docs/user_manual/processing_algs/qgis/metadatatools.rst
  docs/user_manual/processing_algs/qgis/modelertools.rst
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/plots.rst
  docs/user_manual/processing_algs/qgis/pointcloudconversion.rst
  docs/user_manual/processing_algs/qgis/pointclouddatamanagement.rst
  docs/user_manual/processing_algs/qgis/pointcloudextraction.rst
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
  docs/user_manual/processing_algs/qgis/rastercreation.rst
  docs/user_manual/processing_algs/qgis/rasterterrainanalysis.rst
  docs/user_manual/processing_algs/qgis/rastertools.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcoverage.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/processing_algs/qgis/vectortiles.rst
Labels: Processing Alg, backport release_3.40

#9819 Document built-in algorithm providers settings
  docs/user_manual/processing/configuration.rst
  docs/user_manual/processing_algs/gdal/index.rst
Labels: Processing, Project/Configuration, backport release_3.40
