Repository qgis/QGIS-Documentation, pull requests merged in 2025-01, with the labels that each got.

#9516 Backport some of the HTML and PDF build configuration from recent versions
  Makefile
  REQUIREMENTS.txt
  conf.py
  docs_conf.yml
Labels: 3.10, build/doctest

#9519 Adjust variable name
  scripts/load_tx_stats.py
Labels: Translation, Code, backport release_3.40

#9513 Add end point marker to label's callout, and format the section as a table
  docs/user_manual/style_library/label_settings.rst
Labels: Labels, Style manager, backport release_3.40

#9505 Add buffer to marker symbols
  docs/user_manual/style_library/symbol_selector.rst
Labels: Style manager, backport release_3.40

#9527 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34

#9491 Reorganize QGIS Server WMS tab entries into groups
  docs/server_manual/getting_started.rst
  docs/server_manual/img/ows_server_wms.png
Labels: Project/Configuration, backport release_3.40

#9526 Add policy when "Duplicating features"
  docs/user_manual/working_with_vector/img/edit_widgets_dialog.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties, backport release_3.40

#9543 Updated documentation. Duplication of connections #9206
  docs/user_manual/introduction/browser.rst
Labels: Web Service, backport release_3.40

#9549 Vertical Datum in Identify results
  docs/user_manual/introduction/general_tools.rst
Labels: backport release_3.40

#9547 Mention "Duplicate connection" entry for database
  docs/user_manual/introduction/browser.rst
Labels: Browser, backport release_3.40

#9552 Update statistics of translation
  docs/user_manual/preamble/translation_stats.rst
Labels: Translation, backport release_3.34, backport release_3.40

#9555 Add ways people can run QGIS under a new user profile
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.40

#9562 Smart Cache Size
  docs/user_manual/introduction/img/options_network.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.40

#9560 "Split features" keeps original feature and assigns biggest geometry
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing, backport release_3.40

#9570 Fix sentences
  docs/user_manual/working_with_mesh/mesh.rst
Labels: Mesh, backport release_3.40

#9556 Add py-args and -- as command line parameters
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, backport release_3.40

#9569 Advanced digitizing - circle intersection
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/img/advanced_digitizing.png
  docs/user_manual/working_with_vector/img/circles_intersection.png
  static/common/circlesintersection.png
  substitutions.txt
Labels: Vector, Editing, backport release_3.40

#9573 Mesh editing delaunay refinement
  docs/user_manual/working_with_mesh/mesh.rst
Labels: Mesh, Editing

#9561 Add audio and video types to the form attachment widget
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Vector, Properties, backport release_3.40

#9577 Update Docs: Apply layout to all pages
  docs/user_manual/print_composer/img/page_properties.png
  docs/user_manual/print_composer/overview_composer.rst
Labels: 3.42

#9590 docs: fix grammar and punctuation in hig.rst
  docs/developers_guide/hig.rst
Labels: Text, backport release_3.40

#9588 fix(user_manual/processing/configuration): typo
  docs/user_manual/processing/configuration.rst
Labels: Text, backport release_3.40

#9583 docs: fix spelling grammar and punctuation in introducing_gis.rst
  docs/gentle_gis_introduction/introducing_gis.rst
Labels: Text, backport release_3.40

#9594 docs: fix spelling and punctuation in git.rst
  docs/developers_guide/git.rst
Labels: backport release_3.40

#9523 Indicate vertices order orientation in polygon part and ring geometries
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: Editing, backport release_3.40

#9539 Add "Maximum number of GetFeatureInfo results in WMS connection dialog"
  docs/user_manual/working_with_ogc/img/add_connection_wms.png
  docs/user_manual/working_with_ogc/ogc_client_support.rst
Labels: Web Service, backport release_3.40

#9586 Processing alg - Zonal min/max Point
  docs/user_manual/processing_algs/qgis/rasteranalysis.rst
Labels: 3.42
