Repository qgis/QGIS-Documentation, pull requests merged in 2025-03, with the labels that each got.

#9697 Rollback some typo fixes
  docs/user_manual/managing_data_source/create_layers.rst
  docs/user_manual/print_composer/composer_items/composer_tables.rst
Labels: Text

#9696 [3.40] Backport recent dependencies and typo fixes
  .github/workflows/auto-label.yml
  .github/workflows/backport.yml
  .github/workflows/builds.yml
  .github/workflows/doctest.yml
  .github/workflows/pofiles.yml
  .github/workflows/pull_minimized_translations.yml
  .github/workflows/stale.yml
  .github/workflows/translation_statistics.yml
  docs/developers_guide/codingstandards.rst
  docs/documentation_guidelines/do_translations.rst
  docs/server_manual/getting_started.rst
  docs/user_manual/managing_data_source/create_layers.rst
  docs/user_manual/map_views/elevation_profile.rst
  docs/user_manual/plugins/plugins.rst
  docs/user_manual/print_composer/composer_items/composer_tables.rst
  docs/user_manual/processing/toolbox.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
  docs/user_manual/style_library/symbol_selector.rst
  docs/user_manual/working_with_mesh/mesh.rst
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: 3.40

#9657 Update editing_geometry_attributes.rst
  docs/user_manual/working_with_vector/editing_geometry_attributes.rst
Labels: backport release_3.40

#9668 Mesh Render Extent Settings
  docs/user_manual/working_with_mesh/img/mesh_symbology_contours.png
  docs/user_manual/working_with_mesh/mesh.rst
Labels: Mesh, 3.42

#9664 Update label engine options and labels export option
  docs/user_manual/map_views/map_view.rst
  docs/user_manual/print_composer/create_output.rst
  docs/user_manual/working_with_vector/img/placement_engine.png
  docs/user_manual/working_with_vector/vector_properties.rst
Labels: Labels, backport release_3.40

#9705 Update statistics of translation
  docs/about/translation_stats.rst
Labels: Translation, backport release_3.40

#9698 Add details on transifex-client activation
  README.md
  release_process.md
Labels: backport release_3.40

#9718 change level for tables section
  docs/documentation_guidelines/writing.rst
Labels: backport release_3.40

#9715 Surface to polygon - mesh alg
  docs/user_manual/processing_algs/qgis/mesh.rst
Labels: Processing Alg

#9706 Processing algorithms - metadata tools
  docs/user_manual/processing_algs/qgis/index.rst
  docs/user_manual/processing_algs/qgis/metadatatools.rst
Labels: Processing Alg, 3.42

#9677 Add a script to easily replace strings in rst or po files
  scripts/strings_fixer.sh
Labels: Code, backport release_3.40

#9727 Update annotations documentation
  docs/documentation_guidelines/substitutions.rst
  docs/user_manual/introduction/qgis_gui.rst
  docs/user_manual/map_views/map_view.rst
  static/common/mActionSvgAnnotation.png
  static/common/mActionTextAnnotation.png
  static/common/mActionTextInsideRect.png
  substitutions.txt
Labels: Annotation, backport release_3.40

#9740 Nominatim Locator configuration text and new locator settings image
  docs/user_manual/introduction/img/options_locator.png
  docs/user_manual/introduction/qgis_configuration.rst
Labels: Project/Configuration, 3.44

#9748 Fix name and anchor for the "Add x/y fields to layer" algorithm
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg, backport release_3.40

#9753 Add warning to algorithms that drop primary keys or FID values
  docs/user_manual/processing_algs/qgis/cartography.rst
  docs/user_manual/processing_algs/qgis/networkanalysis.rst
  docs/user_manual/processing_algs/qgis/vectoranalysis.rst
  docs/user_manual/processing_algs/qgis/vectorcreation.rst
  docs/user_manual/processing_algs/qgis/vectorgeneral.rst
  docs/user_manual/processing_algs/qgis/vectorgeometry.rst
  docs/user_manual/processing_algs/qgis/vectoroverlay.rst
  docs/user_manual/processing_algs/qgis/vectorselection.rst
  docs/user_manual/processing_algs/qgis/vectortable.rst
Labels: Processing Alg, 3.40
